<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {{- partial "header_new.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    <!-- Add html below -->
<div class="section py-80">
    <div class="container">
        <div class="row px-lg-5">
            <div class="col-12 text-center mb-lg-5 mb-3">
                <h1 class="heading-title">Committed to natural.<br/>
                    Dedicated to the dry and irritated.
                </h1>
            </div>
            <div class="col-lg-6 col-12 pe-lg-5 pt-lg-5 aboutus-header">       
                <h2 class="heading-title">NZ’s biggest manufacturer of soothing tallow skincare</h2>
                    <p class="fs-4 mt-lg-4">Across our range we’ve shipped out 50,000 tallow skincare products to kiwis with sensitive skin in 2025. </p>
            </div>
            <div class="col-lg-6 col-12 px-0">
                <img src="/img/about/header.webp" alt="team making tallow" >
            </div>
        </div>
    </div>
</div>
<div class="section py-80 lower-banner">
        <div class="container-fluid">
          <div class="row px-lg-5 justify-content-center align-items-center">
            <div class="col-md-5 pt-md-5 text-center"><h3 class="heading-title fw-bold mb-2 mb-md-4">Our mission:</h3>
              <p class="fs-3 mb-md-5 mb-2">  “To help as many kiwis with dry and irritated skin as possible”
              </p>
              <div class="col-12 mt-0 mt-md-4"><div class="">
          <a class="" href="https://www.facebook.com/profile.php?id=61560358912834"><img src="/img/fbw.png" alt="instagram for PrimalPantry" width="40"></a>
          <a class="" href="https://www.instagram.com/primalpantry.nz/"><img src="/img/instw.png" alt="instagram for PrimalPantry" width="40"></a>
      </div></div>
              <p class="h2 fw-bold mt-4">Join us on our Journey</p>
              
            </div>
            
         </div>
    </div>
</div>
<div class="section"><img src="/img/about/desktop-insta.webp" class="img-fluid d-none d-md-block" width="100%">
<img src="/img/about/mobile-insta.webp" class=" d-block d-md-none" width="100%"></div>

<div class="section py-80">
    <div class="container-fluid">
        <div class="row p-lg-5">
            <div class="col-lg-6 col-12 pe-lg-5 pt-lg-5">
                <div class="row">
                    <div class="col-12 order-lg-1 order-2">
                         <h2 class="heading-title mb-4">Our Story:</h2>
                        <p class="fs-5">We haven’t always been selling hundreds of kilos of tallow skincare every week to thousands of customers around the country. 
                        </p>
                        <p class="fs-5">Founded in 2023, PrimalPantry actually came to be on accident after a conversation at a farmers market. 
                        </p>
                        <p class="fs-5">We originally had a business selling bone broth, customers were asking us to keep the fat to cook with–this is a byproduct of producing broth (no, before you ask, that’s not how we produce our tallow anymore!).
                        </p>
                        <p class="fs-5">After a few weeks of noticing a regular customer coming back for the fat, we asked why. The customer said she puts it on her hands to help her eczema prone skin cope with the cold. 
                        </p>
                        <p class="fs-5">After a lightbulb moment, we wrote on a chalk board “Tallow balm coming next week” and within minutes had a handful of women talking about how exciting it was–we knew we were onto something. 
                        </p>
                        <p class="fs-5">The next week we turned up with our prototype and sold out in an hour. Every week we came with more tallow and less broth until the whole stand became tallow. We eventually had to stop markets to keep up with online sales. 
                        </p>
                        <p class="fs-5">After seeing the results and how our product was improving the life of our customers, we solidified our mission to help as many kiwis with dry and irritated skin as possible. 
                        </p>
                        <p class="fs-5">Fast forward 6 months–our team has grown to over 17 people working around the clock to supply 20,000+ kiwis with soothing skincare that's helping our customers feel like themselves again free from dry itchy skin. 
                        </p>
                    </div>
                    <div class="col-12 mt-lg-4  order-lg-2 order-1 ">
                        <img src="/img/about/article.webp" class="img-fluid mb-3">
                        <p>Source <a href="https://www.thepress.co.nz/business/360657621/natural-dry-skin-balm-overnight-sensation" rel="nofollow">https://www.thepress.co.nz/business/360657621/natural-dry-skin-balm-overnight-sensation</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 ps-lg-5 text-center" >
                <img src="/img/about/founder.webp"  class="m-auto img-fluid" alt="founder of primal pantry" >
                <h2 class="fw-bold mt-4 text-center">Meet our founder…</h4>
            </div>
        </div>
        
    </div>
</div>
<div class="section">
      <div class="container-fluid p-0">
      <div class=" row hero aboutus-hero">
        <div class="col-xl-5 col-md-8 col-12 bannertext ">
          <div class="col-12  ">
          <h3 class="heading-title mb-4">The Line up</h3>
            <p class="fs-4">Being focused on providing natural soothing for dry and irritated skin, our skincare range has grown to meet the needs and requests from our customers! 
</p><p class="fs-4">
We’re always adding more and would love to hear your ideas. If there’s something you’d like to see be sure to get in touch! </p>
       
          </div>
      
        </div>
        <div class="col-lg-6 col-12">

        </div>
        </div>
      </div>
<div class="section">
        <div class="container-fluid">
          <div class="row  py-80">
            <div class="col-lg-6 text-center order-2 order-lg-1 mt-lg-0 mt-3"><img src="/img/about/stockists.webp" height="688" width="800" alt="stockists image"></div>
            <div class="col-lg-6 order-lg-2 order-1">
              <div class="p-md-5 p-2 col-12">
                <h3 class="heading-title mb-4">Where can I buy PrimalPantry Tallow Skincare? </h3>
               

<p class="fs-3">
    Primalcare Tallow is available to order via our website or for collection at over 120+ retailers around New Zealand, Including Chemist Warehouse, Bargain Chemist, Health2000 and Select New World and Pak'n'Save Stores.  You can find the full list of the specific stores stocking us on our stockists page. 
</p>
<a href="/stockists/" class="btn btn-outline-dark">Click to view stockists </a>
           </div>
            
          </div>
        </div>
      </div>
      </div>
<div class="section py-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <p >See what all the fuss is about </p>
<h3 class="mb-3">Shop PrimalPantry’s Sensitive Soothing Products
</h3>
<a href="/shop" class="btn btn-black"> Shop tallow skincare </a>
            </div>
        </div>
    </div>

</div>
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>
