<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    {{- partial "header_new.html" . -}}
    <!-- Add html below -->
        <div style="min-height: calc(100vh - 350px)" class="light-peach shopsection py-80"> 
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 col-xl-9 col-xxl-8 flex-grow-1 ">  
                        <h1 class="heading-title">Tallow before and after photos</h1>
                        <p class="h4">From real Primalpantry customer reviews</p>
                    </div>
                    <div class="col-12 col-lg-2 col-xl-3 col-xxl-4 d-none d-lg-block" >
                        <img src="/img/jar.webp" class="img-fluid" width="100">
                    </div>
                </div>
              
                <div class="row g-4 mt-1 align-items-center">
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after6.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after7.webp" class="img-fluid">
                    </div> 
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after8.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after22.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after1.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after9.webp" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after23.webp" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after24.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <p class="h6">Want to share your results?<br/>
                        <a href="mailto:hello@primalpantry.co.nz" class="text-decoration-underline text-dark">Email us your results and enter the draw to win 6 months supply!</a></p>
                     </div>
                </div>        

                <div  class="col-12 text-center mt-5">
                    <div class=" col-12 text-center">     
                        <a href="/pages/reviews/"
                        class="text-decoration-underline text-dark h5"
                        >
                    Read all Primalpantry Tallow customer reviews
                    </a>
                    
                    </div>
                </div>
            </div>
            
        </div>

    {{- partial "footer.html" . -}}
</body>
</html>
