<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=667c998f7bead90019480329&product=inline-share-buttons&source=platform" async="async"></script>
</head>
<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row peach max-width text-center">
            <h1 class="fade-in-element">Primebroth for Charities</h1>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-6 col-sm-12">
                <p>At Primebroth, one of our core values is to give back to local charities, volunteer groups, and community initiatives supporting the health and wellbeing of both pets and people.</p>
                <p>We do this through the Primebroth Charity Program, where we donate 100% of the proceeds from the sales of our products to approved charities each month.</p>
                
                <h3>What’s the Process?</h3>
                <p>Once approved, we will provide you with a unique link to include in your social media content, emails, or other communications to promote to your audience. All proceeds collected through this link will be donated to your charity. It's important to use your unique link and clearly communicate this to your audience, as this is how we track and attribute the proceeds for payout.</p>
                
                <h3>Sharing Your Link</h3>
                <p>There are many ways to share your link and raise funds:</p>
                <ul>
                    <li>Social media posts</li>
                    <li>Social media stories</li>
                    <li>Website banners or links</li>
                    <li>Mass emails or newsletters</li>
                    <li>Selling our products on your website or store using the unique link</li>
                </ul>
                <div class="accordion-item grow">
                    <h6 class="accordion-heading">See how to share with your audience</h6>
                    <div class="accordion-content">
                        <img src="/img/bullfb.webp" alt="Example of Bull Rescue" />
                        <img src="/img/email.webp" alt="Example of email" />
                        <img src="/img/bullinst.webp" alt="Social Media Post Example" />   
                        <img src="/img/char1.webp" alt="" />
                        <img src="/img/char2.webp" alt="" />
                        <img src="/img/char3.webp" alt="" />                 
                    </div>
                  </div>
                
                  <div class="row">
                <h3>Ready to Raise Funds Together?</h3>
                <p>To apply, send an email to <a href="mailto:hello@primebroth.co.nz">hello@primebroth.co.nz</a> with details about your charity. We will get in touch for more information.</p>
            </div>     </div>
            <div class="col-md-6 col-sm-12">
               <div class="row shopsection charities">
    <h2>Current charities we're working with</h2>

    <div class="product-card grow col-6">
        <img src="/img/bullogo.svg" alt="">
        <div class="product-details">
            <h6>Christchurch Bull Rescue</h6>
        </div>
        <a href="/chch-bull-rescue" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/chch-bull-rescue" data-title="Christchurch Bull Rescue"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/spcalogo.svg" alt="">
        <div class="product-details">
            <h6>SPCA</h6>
        </div>
        <a href="/spca" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/spca" data-title="SPCA"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/chihuahua.webp" alt="">
        <div class="product-details">
            <h6>Chihuahua Rescue</h6>
        </div>
        <a href="/chihuahua-rescue" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/chihuahua-rescue" data-title="Chihuahua Rescue"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/dogwatch.webp" alt="">
        <div class="product-details">
            <h6>Dogwatch Sanctuary</h6>
        </div>
        <a href="/dogwatch-sanctuary" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/dogwatch-sanctuary" data-title="Dogwatch Sanctuary"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/pawsitive.webp" alt="">
        <div class="product-details">
            <h6>Pawsitive Rescue</h6>
        </div>
        <a href="/pawsitive-rescue" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/pawsitive-rescue" data-title="Pawsitive Rescue"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/chained.webp" alt="">
        <div class="product-details">
            <h6>Chained Dog</h6>
        </div>
        <a href="/chained-dog" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/chained-dog" data-title="Chained Dog"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/petrefuge.svg" alt="">
        <div class="product-details">
            <h6>Pet Refuge New Zealand</h6>
        </div>
        <a href="/pet-refuge-new-zealand" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/pet-refuge-new-zealand" data-title="Pet Refuge New Zealand"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/rott.webp" alt="">
        <div class="product-details">
            <h6>Rottweiler Rescue</h6>
        </div>
        <a href="/rottie-rescue" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/rottie-rescue" data-title="Rottweiler Rescue"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/cpl.webp" alt="">
        <div class="product-details">
            <h6>Cats Protection League Christchurch</h6>
        </div>
        <a href="/cats-protection-christchurch" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/cats-protection-christchurch" data-title="Cats Protection League Christchurch"></div>
    </div>
    
    <div class="product-card grow col-6">
        <img src="/img/paws.webp" alt="">
        <div class="product-details">
            <h6>Paws 4 Life</h6>
        </div>
        <a href="/paws-4-life" class="btn btn-secondary">View Fundraiser</a>
        <p style="text-align: center;">Share this fundraiser</p>
        <div class="sharethis-inline-share-buttons" data-url="https://www.primebroth.co.nz/paws-4-life" data-title="Paws 4 Life"></div>
    </div>
    </div>
    
</div>

            </div>
                  
            </div>
        </div>
        
    </div>
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
    
</body>
</html>
