<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container" >
        <div style="margin-bottom: 0px;" class="row max-width lime shopsection"> 
            <h1 class="text-center">Contact us</h1>
            <a class="text-center">Flick us a message and we'll be in touch asap.</p>               

            <div style="height: 50vh;" class="custom-form text-center">
                <div class="col-md-6 col-12">
                    
                    <button
                    type="button"
                    class="btn btn-primary"
                    id="open_intercom_chat"
                    style="position: absolute; top: 200px; left: 50%; transform: translateX(-50%); z-index: 9999;">
                    Click here to get in touch
                  </button>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Add html above -->
    <script>
        window.intercomSettings = {
          app_id: "qym1wd1w",
           custom_launcher_selector:'#open_intercom_chat',
           hide_default_launcher:true
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/your_app_id';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
      </script>
    {{- partial "footer.html" . -}}
</body>
</html>
