<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}

    <meta http-equiv="refresh" content="0; url=https://g.page/r/CTwv-rP1l4c6EBM/review" />
    <script type="text/javascript">
 // Delay the redirect to ensure the analytics script runs
 setTimeout(function() {
        window.location.href = "https://g.page/r/CTwv-rP1l4c6EBM/review";
    }, 1000); // 1-second delay    </script>
    <title>Redirecting...</title>
     
  </head>
  <body>
    <p>If you are not redirected automatically, follow this <a href="https://g.page/r/CTwv-rP1l4c6EBM/review">link to the form</a>.</p>
  </body>
</html>
