<!DOCTYPE html>
<html>
<head>
    {{- partial "head.html" . -}}

    <title>Redirecting...</title>
    <!-- Load the Fathom Analytics script synchronously -->
    <script type="text/javascript" src="https://cdn.usefathom.com/script.js" site="SUFMJROW" defer></script>
    <script type="text/javascript">
        // Delay the redirect to ensure the analytics script runs
        setTimeout(function() {
            window.location.href = "https://g.page/r/CTwv-rP1l4c6EBM/review";
        }, 1000); // 2-second delay to ensure the hit is sent
    </script>
    <meta http-equiv="refresh" content="2; url=https://g.page/r/CTwv-rP1l4c6EBM/review" />
</head>
<body>
    <p>If you are not redirected automatically, follow this <a href="https://g.page/r/CTwv-rP1l4c6EBM/review">link to the form</a>.</p>
</body>
</html>
