<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {{- partial "header_new.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    <!-- Add html below -->
<div class="section py-80">
    <div class="container">
        <div class="row px-lg-5">
             <div class="col-lg-5 col-12 pe-lg-5 ">
                <img src="/img/meetjordana.webp" alt="jordana" >
            </div>
            <div class="col-lg-6 col-12 pe-lg-5 pt-lg-5">       
                <h2 class="heading-title">Meet our Primal Pantry
Naturopath Jordana</h2>
                    <p class="fs-4 mt-lg-4">Ready to help you with your skincare
Journey </p>
<a href="" class="btn btn-outline-dark">Book Now</a>
            </div>
           
        </div>
        <div class="row px-lg-5 mt-3">
            
            <div class="col-lg-6 col-12 pe-lg-5 pt-lg-5">       
                <h2 class="heading-title">A bit about Jordana</h2>
                    <p class="fs-4 mt-lg-4">
I’m a naturopath, nutritionist, and herbalist with a special
focus on skin health. My approach looks beyond the surface,
addressing the whole person, including digestion, detoxification,
stress, and lifestyle, to identify the underlying drivers of skin concerns.
</p>
<p class="fs-4 mt-lg-4">I combine evidence-based nutrition with the therapeutic use of herbal
medicine and targeted lifestyle strategies to create personalised
treatment plans. My goal is to help individuals achieve healthy,
resilient skin from the inside out, while supporting overall wellbeing
and long-term results.

</p>
            </div>
             <div class="col-lg-6 col-12 text-center">
                <img src="/img/jordana.webp" alt="jordana" style="max-height: 650px;">
            </div>
           
        </div>
    </div>
</div>
<div class="section py-80 " style="background-color: #958b8b;">
    <div class="container">
        <div class="row px-lg-5 text-center">
            <h2 class="text-white">With Jordana’s naturopathy expertise now part of the Primal Pantry team, we’re able to provide even
deeper support to our customers on their healthy skin journey. </h2>
<div class="text-center mt-3"><a href="" class="btn bg-white">Book Now</a></div>
        </div>
    </div>
</div>
<div class="section py-80 " >
    <div class="container">
        <div class="row px-lg-5">
            <h2>What is naturopathy?</h2>
<p class="fs-4">Naturopathy is a holistic approach to health that focuses on treating the whole person rather than just
the symptoms.
</p>
<p class="fs-4">It blends traditional knowledge with modern science to support the body’s natural ability to heal.
A naturopath looks at diet, lifestyle, stress, environment, and individual
constitution to uncover the root causes of imbalance. Treatments include nutrition, herbal medicine,
lifestyle guidance,
and natural therapies designed to restore balance and promote long-term wellbeing.
</p>
<h2 class="mt-4">What are the main services?</h2>
<p class="fs-4 fw-bold">1. Initial Consultation</p>
<p class="fs-4">During this consultation, I'll ask questions about people's dietry intake, habits and lifestyles. From here, I'll send a digital treatment plan including health goals, next steps, and nutritional and lifestyle suggestions. I may refer to blood and functional tests, and prescribe supplements and herbal medicine.</p>
<p class="fs-4 fw-bold">2. Follow Up Consultation</p>
<p class="fs-4">This consultation is designed to review the treatment plan, blood and functional tests results, and make further changes if necessary.</p>
<h2 class="mt-4">
How can Jordana bring value to someone struggling with skin
related issues?
</h2>
<p class="fs-4">
As a naturopath, nutritionist, and herbalist, I support clients with skin concerns by addressing the root
causes rather than just the symptoms. Many skin conditions are Influenced by factors such as gut
health, inflammation, nutrient status, stress, and hormonal balance. By taking a whole-person
approach, I can identify these underlying drivers and provide tailored recommendations.
This may include nutrition strategies to reduce inflammation and support skin integrity, herbal
medicine to promote healing and detoxification, and lifestyle guidance to manage stress and improve
overall wellbeing. My aim is to help clients improve the appearance and health of their skin, and also
feel more confident and empowered in their long-term health.
</p>

        </div>
    </div>
</div>

<div class="section py-80 light-peach" >
    <div class="container">
        <div class="row px-lg-5 text-center">
            <h2 >Get guidance to navigate your skin journey </h2>
<div class="text-center mt-3"><a href="" class="btn btn-outline-dark">Book Now</a></div>
        </div>
    </div>
</div>

    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>