<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    {{- partial "alert.html" . -}}
    
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div style="margin-top: 0px;" class="row max-width peach shopsection"> 
            <h1 class="text-center">Resources for partners</h1>
            <div class="row">
                    <div class="faq">
                        <div class="accordion-item grow">
                          <h4 class="accordion-heading">What makes your bone broth unique?</h4>
                          <div class="accordion-content">
                            <p>Our bone broth is uniquely dense, setting it apart from many other brands in New Zealand that tend to dilute their products. The rich, gelatinous texture of our broth is a clear indicator of its high quality gained from extra simmering time and careful choosing of the bones. Furthermore, we maintain a balanced acidity by avoiding the common practice of adding large amounts of apple cider vinegar, which can overshadow the broth’s robust, meaty flavour.</p>
                          </div>
                        </div>
                        <div class="accordion-item grow">
                          <h4 class="accordion-heading">About the product</h4>
                          <div class="accordion-content">
                              <p>A great way to add extra nutrition value to your pets' favourite dog biscuits:</p>
                              <ul>
                                  <li>100% human grade</li>
                                  <li>Organic, no additives</li>
                                  <li>Healthy skin and coat</li>
                                  <li>Better digestion</li>
                                  <li>Strong joints</li>
                                  <li>Shelf-stable</li>
                              </ul>
                              <h6>Ingredients:</h6>
                              <p>Organic Beef Bones, Carrots, Celery, Apple cider vinegar</p>
                              <h6>Recommended serving size:</h6>
                              <ul>
                                  <li>Small dogs (&lt;10 kg): ½ tsp daily</li>
                                  <li>Medium dogs (10-35 kg): 1 tsp daily</li>
                                  <li>Big dogs (35 kg +): 1½ - 2 tsp daily</li>
                              </ul>
                              <h6>Directions:</h6>
                              <p>Sprinkle on your pet’s food once a day as powder or mix it with hot water first (1 tsp per 100ml).</p>
                              <h6>Servings (depends on pet size):</h6>
                              <p>12g pack - Up to 7 servings; 50g pack - Up to 33 servings; 200g pack - Up to 132 servings</p>
                              <h6>Storage:</h6>
                              <p>Keep in a dry place. Use within 4 months of opening or 24 months unopened.</p>
                                        
                          </div>
                        </div>
                       
                      </div>                         
                    </div>
                </div>
        </div>
    </div>a
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>






