<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    {{- partial "header_new.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    <!-- Add html below -->

    <div class="section peach py-80">
        <div class="container">
             <div class="row">
                    <div class="col-12 ">  
                        <h1 class="heading-title">Primalpantry reviews -  before and after photos</h1>
                        <!-- <h1> Reviews </h1> -->
                    </div>
                </div>
              
                <div class="row g-4 mt-1 align-items-center mb-3">
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after6.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after7.webp" class="img-fluid">
                    </div> 
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after8.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after22.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after1.webp" class="img-fluid">
                    </div>
                     <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after9.webp" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after23.webp" class="img-fluid">
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="/img/tallow-before-after24.webp" class="img-fluid">
                    </div>
                  
                </div>        
            <div class="feedback-section row" style="align-items: center;">
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/1.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                
            </div>
               <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/2.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/3.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/4.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/5.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/6.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/7.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/8.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                   <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/9.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/10.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/11.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/12.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/13.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div> <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/14.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/15.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/16.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/17.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/18.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/19.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                 <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/20.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>






                <div class="col-12 col-md-4 feedback-card">
                <img src="/img/rev/review1.webp">
                <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                <div class="col-12 col-md-4 feedback-card">
                     <img src="/img/rev/review2.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review3.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review4.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
                 <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review5.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
                 <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review6.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
         <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review7.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
        
                  <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/review8.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                 </div>
        
                 
                
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev23.webp" >

                    <img src="/img/rev22.webp" >

                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev1.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev3.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev4.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev5.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev7.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev9.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev10.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev11.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev14.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev15.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev16.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev18.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev19.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev20.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev21.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev22.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev23.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev24.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev25.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev26.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev27.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev28.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev29.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev30.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev31.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev32.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev33.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev34.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev35.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev36.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev37.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev38.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev39.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev40.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev41.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev42.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev43.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev45.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev46.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev47.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev48.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev49.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev50.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev51.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev52.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev53.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev54.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev55.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev56.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev57.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev58.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev59.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev60.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev61.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev62.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev63.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev64.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev65.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev66.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev67.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev68.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev69.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev70.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev71.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev72.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev73.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev74.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev75.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev76.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev77.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev78.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev79.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev80.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev81.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev82.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev83.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev84.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev85.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev86.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev88.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev89.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev90.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev91.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev92.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev93.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev94.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev95.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev96.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev97.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev98.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev99.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev100.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev101.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev102.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev103.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>

                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/rev/rev104.webp">
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>
                </div>


                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/review101.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/review104.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/review103.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/review102.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
   
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/prod/balm/balmreviews.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"Love it, my sis bought me a small one to try and I had to buy 3 large jars. So nice "</p>
                    <p class="customer-name">- Steph</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"All I can say is … I absolutely 100% love it. It smells so good too."</p>
                    <p class="customer-name">- Guest</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"Thank you for the quick delivery of my purchase. I love the product and can’t wait to tell my friends about it. All the best"</p>
                    <p class="customer-name">- Margaret</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"My skin loves the unscented one!"</p>
                    <p class="customer-name">- Tracy</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"It smells so nice and is smooth on my skin!"</p>
                    <p class="customer-name">- Nya</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"The kids fight over it here, so lush!"</p>
                    <p class="customer-name">- Guest</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"Love this stuff, only tried but it works. My boys have eczema and this helped ease the itching and smells so good. I’ll definitely be buying some more and be trying the bone broth as well."</p>
                    <p class="customer-name">- Whakaaro</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/prod/balm/eczema.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/prod/balm/baby-eczema.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <img src="/img/crazy-results.webp" >
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"Greatly appreciated. It's fantastic stuff. Will try and order some more soon 😊"</p>
                    <p class="customer-name">- Online order</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <!-- <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"My three cats love this. so basically they love the food I feed them but the leftover that they don't normally eat I add the broth then they eat the rest"</p>
                    <p class="customer-name">- Tania H</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>
                <div class="col-12 col-md-4 feedback-card">
                    <p class="feedback-text">"a+ very happy with the powder & my dogs love it."</p>
                    <p class="customer-name">- Online order</p>
                    <a class="reviewlink" href="/shop/products/tallow-skin">Primalcare Tallow balm</a>

                </div>  -->
<!--                 
                <div class="feedback-card col-md-3 grow d-none d-md-block">
                    <a data-fancybox="gallery" data-type="iframe" data-src="https://player.vimeo.com/video/964111619?h=c0d720cdd0" href="javascript:;">
                      <img style="border:8px solid white;transform: scale(.93);;" src="/img/dash.webp" alt="Short 2 Thumbnail">
                      
                    </a>
                    </div><div class="feedback-card col-md-3 grow d-none d-md-block">
                        <a data-fancybox="gallery" data-type="iframe" data-src="https://player.vimeo.com/video/968617493" href="javascript:;">
                          <img style="border:8px solid white;transform: scale(.93);;" src="/img/mol.webp" alt="Short 2 Thumbnail">
                        </a>
                        </div> -->
                        <!-- <div class="col-12 col-md-4 feedback-card">
                            <p class="feedback-text">"Our dog Kujo has always been a picky eater, we’ve added pets bone broth to his biscuits for years as a way to encourage him to eat them. He definitely likes PrimalPantry, it seems more concentrated than our previous brand and I’ve found their service always super fast."</p>
                            <p class="customer-name">- Rebecca</p>
                        </div>  -->
                        <!-- <div class="col-12 col-md-4 feedback-card">
                            <p class="feedback-text">"Billie loves it!! The first day I sprinkled it on her biscuits but she emptied the bowl out scratching to get more of the powder 😂😂 lately I’ve just been wetting a little bit of her chicken and sprinkling it on that."</p>
                            <p class="customer-name">- Kate</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <img src="/img/lulu.webp" >
                        <p class="customer-name">- Louie</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <img src="/img/powder1.webp" >
                        <p class="customer-name">- Knoxville</p>
                        <p>As a kibble enthusiast on this app I highly HIGHLY recommend my doggy friends to check out @PrimalPantry ! 🐶 I , even though I don’t like to admit it.. may be fussy with my dinner at points.. but when my humans introduced me to this powder I gobble up my dinner every time without a doubt ✨ This broth is a powerhouse of protein and collagen, perfect for muscles, joints, skin, and coat.</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <img src="/img/powder2.webp" >
                        <p class="customer-name">- Albus & Arthur</p>
                        <p>Albus and Arthur are very excited about the beef bone broth powder they got to try sprinkled over their food. Alternatively this can be used mixed with hot water.</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <img src="/img/powder3.webp" >
                        <p class="customer-name">- Albus</p>
                    </div> 
                    <div class="col-12 col-md-4 feedback-card">
                        <img src="/img/powder4.webp" >
                        <p class="customer-name">- Albus</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <p class="feedback-text">"Thank you - my dog absolutely loves it thanks!"</p>
                        <p class="customer-name">- Dairne</p>
                    </div>  -->
                    <!-- <div class="col-12 col-md-4 feedback-card">
                        <p class="feedback-text">"a+ very happy with the powder & my dogs love it."</p>
                        <p class="customer-name">- Online order</p>
                    </div> 
                    
                        <div class="col-12 col-md-4 feedback-card">
                            <p class="feedback-text">"I've recently adopted a cat and hes been loving having it with his wet food to add some more moisture and I've been soaking some shredded chicken in it as treats to gain his trust and its worked wonders for him eating out of my hand! I've frozen it in small batches so it can keep longer but I'll definitely be purchasing more when I get low!"</p>
                            <p class="customer-name">- Gabby </p>
                        </div>  -->

                        <!-- <div class="col-12 col-md-4 feedback-card">
                            <p class="feedback-text">"They love it...to the point of knocking the wee jar over to try get some more!"</p>
                            <p class="customer-name">- Anna </p>
                        </div>  -->

                        <!-- <div class="col-12 col-md-4 feedback-card">
                            <p class="feedback-text">It was great!  Dixie enjoyed it as part of her breakfast, I make up a half cup of broth."</p>
                            <p class="customer-name">- Lucy </p>
                        </div>  -->



                <!-- Add more feedback cards as needed -->
            </div>
        </div></div></div>
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
    <script>
    $(document).ready(function() {
        $("[data-fancybox]").fancybox({
            afterClose: function(instance, current) {
            // Redirect to /shop/ after Fancybox is closed
            window.location.href = "/shop/";
            }
        });
    });
    </script>
</body>
</html>
