<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    {{- partial "alert.html" . -}}
    <div class="announcement full-width black text-center">
        <ul>
            <li>All pet proceeds before July are donated.</li> 
        </ul>
      </div>
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row peach max-width text-center">
            <h1 class="fade-in-element">Shop</h1>
            <p>Nutrient-rich bone broth direct to your door.</p>
        </div>
        <div class="row max-width shopsection">                
             <!-- Pets product card -->
             <div class="product-card grow col-md-3 col-xs-6 "><a href="/shop/products/pets">
                <p class="stamp">Trending</p>
                <img src="/img/pet1.webp" src="" alt="">
                <div class="product-details">
                <p>$7.95</p>
                <h6>Pets Bone Broth</h6>
                <img class="stars" src="/img/stars/5.webp" alt="review rating for chicken bone broth product">
                <p>(21)</p>
                </div>
                </a>
                </div>

                <!-- Pets powder product card -->
            <div class="product-card grow col-md-3 col-xs-6  "><a href="/shop/products/pets-powder">
                <p class="stamp">Popular</p>
                <img src="/img/boney2.webp" alt="">
                <div class="product-details">
                <p>$9.95</p>
                <h6>Pets Bone Broth Powder</h6>
                <img class="stars" src="/img/stars/5.webp" alt="review rating for beef bone broth product">
                <p>(18)</p>
                </div>
                </a>
                </div>

                


            <!-- beef product card -->
            <div class="product-card grow col-md-3 col-xs-6  ">
                <!-- <a href="/shop/products/beef">-->
                <p class="stamp">Coming soon</p>
                <img src="/img/beef.webp" class="notstocked" alt="">
                <div class="product-details">
                <p>$7.95</p>
                <h6>Beef Bone Broth</h6>
                </div>
                <!-- </a> -->
                </div>
            <!-- Beef product card -->
            <div class="product-card grow col-md-3 col-xs-6  ">
                <!-- <a href="/shop/products/chicken">-->
                <p class="stamp">Coming soon</p>
                <img src="/img/chicken.webp" class="notstocked" alt="">
                <div class="product-details">
                <p>$7.95</p>
                <h6>Chicken Bone Broth</h6>
                </div>
                <!-- </a>-->
                </div>
               
        </div>
    </div>
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>

