<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    
    <!-- Add the styling for the pill-shaped radio buttons -->
    <style>
        .filter-options {
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }

        .filter-options label {
            display: inline-block;
            padding: 8px 16px;
            margin: 0 5px;
            border: 1px solid #ccc;
            border-radius: 30px;
            font-size: 14px;
            cursor: pointer;
            background-color: #f7f7f7;
            transition: background-color 0.3s, color 0.3s;
        }

        .filter-options input[type="radio"] {
            display: none;
        }

        /* Active state for the selected radio button */
        .filter-options input[type="radio"]:checked + label {
            background-color: #ff7043;
            color: white;
            border-color: #ff7043;
        }

        /* Hover effect */
        .filter-options label:hover {
            background-color: #e0e0e0;
        }

        /* Align "Coming Soon" option to the right */
        .filter-options .coming-soon {
            margin-left: auto;
        }
    </style>
</head>
<body>
    {{- partial "alert.html" . -}}
    
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container shopcontainer">
        <!-- Filter buttons -->
        

        <div style="margin-bottom: 0px; " class="row  shopsection"> 
            <div  class="filter-options mob-hide">
                <input type="radio" id="all" name="product-filter" value="all" checked>
                <label for="all">All</label>
    
                <!-- <input type="radio" id="bone-broth" name="product-filter" value="bone-broth">
                <label for="bone-broth">Bone Broth</label> -->
    
                <input type="radio" id="tallow" name="product-filter" value="tallow">
                <label for="tallow">Tallow</label>

                <!-- <input type="radio" id="pets" name="product-filter" value="pets">
                <label for="pets">Pets</label> -->

                <input type="radio" id="bundles" name="product-filter" value="bundles">
                <label for="bundles">Bundles</label>

                <!-- Coming Soon Filter, aligned to the right 
                <input type="radio" id="coming-soon" name="product-filter" value="coming-soon" class="coming-soon">
                <label for="coming-soon" class="coming-soon">Coming Soon</label>-->
            </div>
            <div class="d-flex shopdiv flex-wrap gap-2">
            {{- partial "prodcardtallowskin.html" . -}} 

            {{- partial "prodcard-lipbalm.html" . -}} 

            {{- partial "prodcardtallowbundle.html" . -}}
            {{- partial "prodcardtallowstack.html" . -}}

            <!-- {{- partial "prodcardpplpowderchicken.html" . -}}  -->
            {{- partial "prodcard-deodorant.html" . -}} 

            <!-- {{- partial "prodcardpetpowder.html" . -}} -->




            {{- partial "prodcardshampoo.html" . -}}

            {{- partial "prodcardtallowsoap.html" . -}}
            <!-- {{- partial "prodcardinsideout.html" . -}} -->
            <!-- {{- partial "prodcardbrothbundle.html" . -}}
            {{- partial "prodcardpplpowder.html" . -}}  -->

            
            <!--
             {{- partial "prodcardmatcha.html" . -}}
            {{- partial "prodcardhojicha.html" . -}}
            {{- partial "prodcardsalmonskin.html" . -}}-->
        
            


        </div>
    


          <!--{{- partial "prodcardmarrow.html" . -}} -->  
        </div>
    </div>

    <!-- Filtering script -->
    <script>
        $(document).ready(function () {
            // Function to get URL parameter by name
            function getUrlParameter(name) {
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
                var results = regex.exec(window.location.href);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
    
            // Get the 'filter' parameter from the URL
            var selectedFilter = getUrlParameter('filter');
    
            // Set the filter based on the URL parameter
            if (selectedFilter) {
                $('input[name="product-filter"][value="' + selectedFilter + '"]').prop('checked', true).change();
            }
    
            // Apply the filter logic when the filter changes
            $('input[name="product-filter"]').on('change', function () {
                var selectedFilter = $(this).val();
    
                if (selectedFilter === 'all') {
                    $('.product-card').show();
                } else if (selectedFilter === 'coming-soon') {
                    $('.product-card').hide();
                    $('.product-card[data-coming-soon="true"]').show();
                } else {
                    $('.product-card').hide();
                    $('.product-card').filter(function () {
                        var categories = $(this).data('category').split(' ');
                        return categories.includes(selectedFilter);
                    }).show();
                }
                const countryCode = getCountryCookie('country_code') || "NZ";
                // If the country is NZ, show NZ-specific partials
                // if (countryCode === 'AU') {
                //     document.getElementById('bone-broth').style.display = 'none';
                //     $('label[for="bone-broth"]').hide();
                //     $('.product-card').filter(function () {
                //         var categories = $(this).data('category').split(' ');
                //         return categories.includes("bone-broth");
                //     }).hide();
                // }
            });
    
            // Trigger the change event to apply the initial filter
            $('input[name="product-filter"]:checked').change();
        });
    </script>
    
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>
