<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <style>
        /* General styling for dates */
        .market-date {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            list-style-type: none; /* Remove bullet points */
        }
        .market-name {
            font-weight: bold;
            color: #007bff;
        }
        /* Styling for mobile */
        @media (max-width: 768px) {
            .market-box {
                padding: 5px;
                margin-bottom: 10px;
            }
        }
        /* Styling for list removal and date containers */
        .market-box ul {
            padding: 0;
        }
        /* Scrollable box for market dates */
        .market-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
        
    </style>
</head>
<body>
    {{- partial "header_new.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>

<section class="py-80 light-peach px-80">

    <div class="container-fluid">
        <div class="row light-peach max-width text-center">
            <h1 class="fade-in-element mb-4 heading-title">Primalcare Tallow Skincare Stocked at 100+ Major Retailers Around New Zealand</h1>
        </div>
        <div class="justify-content-around">
            <div id="faq-section" class="faq">
                <div class="market-box p-3">
                    <ul id="market-dates" class="list-unstyled">

<h2>Auckland</h2>
<li><h3>* Albany - Chemist Warehouse</h3></li>
<li><h3>* Botany - Chemist Warehouse</h3></li>
<li><h3>* Flat Bush - Chemist Warehouse</h3></li>
<li><h3>* Glen Innes - Chemist Warehouse</h3></li>
<li><h3>* Glenfield Mall - Chemist Warehouse</h3></li>
<li><h3>* Henderson - Chemist Warehouse</h3></li>
<li><h3>* Highbury - Health2000</h3></li>
<li><h3>* LynnMall - Chemist Warehouse</h3></li>
<li><h3>* Westfield Manukau - Chemist Warehouse</h3></li>
<li><h3>* Manukau - Bargain Chemist</h3></li>
<li><h3>* Lower Queen Street (CBD) - Chemist Warehouse</h3></li>
<li><h3>* Mt Roskill - Bargain Chemist</h3></li>
<li><h3>* Mt Wellington - Bargain Chemist</h3></li>
<li><h3>* Pakuranga - Bargain Chemist</h3></li>
<li><h3>* Pine Hill - Bargain Chemist</h3></li>
<li><h3>* Pukekohe - Bargain Chemist</h3></li>
<li><h3>* The Zone (Pukekohe) - Chemist Warehouse</h3></li>
<li><h3>* Royal Oak - Health2000</h3></li>
<li><h3>* Sylvia Park - Chemist Warehouse</h3></li>
<li><h3>* Whangaparoa - Bargain Chemist</h3></li>
<li><h3>* Westgate - Bargain Chemist</h3></li>
<li><h3>* Westfield Manukau City - Chemist Warehouse</h3></li>

<br>

                        <h2>Christchurch</h2>
<li><h3>* Barrington - Health2000</h3></li>
<li><h3>* Central City - New World</h3></li>
<li><h3>* Central City - Chemist Warehouse South City</h3></li>
<li><h3>* Central City - Modern Man Barbershop (Hair clay only)</h3></li>
<li><h3>* Eastgate - Bargain Chemist</h3></li>
<li><h3>* Harewood - Unichem Spitfire Square</h3></li>
<li><h3>* Hornby - Bargain Chemist</h3></li>
<li><h3>* Hornby - Pak n Save</h3></li>
<li><h3>* Kaiapoi (Waimakariri Junction) - Chemist Warehouse</h3></li>
<li><h3>* Lincoln - New World</h3></li>
<li><h3>* Merivale - Fresh Choice</h3></li>
<li><h3>* Northlands - Health2000</h3></li>
<li><h3>* Northwood - Bargain Chemist</h3></li>
<li><h3>* Northwood (Belfast) - Chemist Warehouse</h3></li>
<li><h3>* Papanui - Bargain Chemist</h3></li>
<li><h3>* Papanui - Chemist Warehouse</h3></li>
<li><h3>* Rangiora - Bargain Chemist</h3></li>
<li><h3>* Rangiora - Health2000</h3></li>
<li><h3>* Rangiora - Pak n Save</h3></li>
<li><h3>* Riccarton - Bargain Chemist</h3></li>
<li><h3>* Riccarton (Blenheim Road) - Chemist Warehouse</h3></li>
<li><h3>* Riccarton Mall - Chemist Warehouse</h3></li>
<li><h3>* Riccarton Mall - Health2000</h3></li>
<li><h3>* Rolleston - Bargain Chemist</h3></li>
<li><h3>* Rolleston - Chemist Warehouse</h3></li>
<li><h3>* Shirley - Bargain Chemist</h3></li>
<li><h3>* St Martins - New World</h3></li>
<li><h3>* Tower Junction - Bargain Chemist</h3></li>
<li><h3>* Wigram - New World</h3></li>
<li><h3>* Unichem Spitfire Square, Harewood</h3></li>
<li><h3>* Fresh Choice, Merivale</h3></li>
<br>

<h2>Wellington</h2>
<li><h3>* Kilbirnie - Chemist Warehouse</h3></li>
<li><h3>* Lyall Bay - Bargain Chemist</h3></li>
<li><h3>* Manners - Bargain Chemist</h3></li>
<li><h3>* Porirua - Bargain Chemist</h3></li>
<li><h3>* Porirua - Chemist Warehouse</h3></li>
<li><h3>* Upper Hutt - Bargain Chemist</h3></li>
<li><h3>* Willis St - Health2000</h3></li>
<br><br>

<h2>Mt Maunganui</h2>
<li><h3>* Health2000</h3></li>
<br><br>

<h2>Taupo</h2>
<li><h3>* Health2000</h3></li>
<br>

<h2>Palmerston North</h2>
<li><h3>* Broadtop - Health2000</h3></li>
<li><h3>* Pioneer - New World</h3></li>
<br>

<h2>New Plymouth</h2>
<li><h3>* Centre City - Chemist Warehouse</h3></li>
<li><h3>* New Plymouth Central - Bargain Chemist</h3></li>
<li><h3>* Health2000</h3></li>
<br>

<h2>Hastings</h2>
<li><h3>* Bin Inn</h3></li>
<br>                     

<h2>Cambridge</h2>
<li><h3>* Health2000</h3></li>
<br>

<h2>Napier</h2>
<li><h3>* Greenmeadows - New World</h3></li>
<li><h3>* Taradale - Health2000</h3></li>
<li><h3>* Bin Inn</h3></li>
<br>

<h2>Hamilton</h2>
<li><h3>* Chartwell - Chemist Warehouse</h3></li>
<li><h3>* Centre Place - Chemist Warehouse</h3></li>
<li><h3>* The Base - Chemist Warehouse</h3></li>
<li><h3>* Wholeheart</h3></li>
<li><h3>* Health2000</h3></li>
<br>

<h2>Whanganui</h2>
<li><h3>* Whanganui - Bargain Chemist</h3></li>
<li><h3>* Whanganui - Chemist Warehouse</h3></li>
<li><h3>* Whanganui - Health2000</h3></li>
<br>

<h2>Masterton</h2>
<li><h3>* Health2000</h3></li>
<br>



<h2>Dunedin</h2>
<li><h3>* Central City - Chemist Warehouse</h3></li>
<li><h3>* Central City - Bargain Chemist </h3></li>
<li><h3>* Central City - Bin Inn</h3></li>
<li><h3>* Central City - Health2000 Sunray</h3></li>
<li><h3>* Central City - New World Great King Street</h3></li>
<li><h3>* South Dunedin - Bargain Chemist</h3></li>
<br>

<h2>Nelson</h2>
<li><h3>* Nelson Junction - Chemist Warehouse</h3></li>
<li><h3>* New World - Stoke</h3></li>
<li><h3>* Central City - Health2000</h3></li>
<li><h3>* Richmond - Health2000</h3></li>
<br>

<h2>Blenheim</h2>
<li><h3>* Springlands - Chemist Warehouse</h3></li>
<li><h3>* New World</h3></li>
<br>

<h2>Kaikōura</h2>
<li><h3>* New World</h3></li>
<br>

<h2>Timaru</h2>
<li><h3>* Chemist Warehouse</h3></li>
<li><h3>* Pak n Save</h3></li>
<li><h3>* New World</h3></li>
<li><h3>* Health2000</h3></li>
<br>

<h2>Queenstown</h2>
<li><h3>* Chemist Warehouse</h3></li>
<li><h3>* New World</h3></li>
<li><h3>* Fresh Choice</h3></li>
<br>

<h2>Wanaka</h2>
<li><h3>* New World (Three Parks)</h3></li>
<li><h3>* Health2000</h3></li>
<br>

<h2>Cromwell</h2>
<li><h3>* New World</h3></li>
<br>

<h2>Oamaru</h2>
<li><h3>* Health2000</h3></li>
<br>

<h2>Ashburton</h2>
<li><h3>* New World</h3></li>
<br>

<h2>Te Awamutu</h2>
<li><h3>* Te Awamutu - Bargain Chemist</h3></li>

            </ul>
        </div>
    </div>
</div>






                        











                        
                    </ul>
                </div>
            </div>
        </div>

        <!-- CTA Section -->
        <div class="col-12 text-center">
            <h3>Can't find one near you? Enquire at your local New World or Order online!</h3>
            <a href="/shop" class="btn btn-black mt-3">Shop now</a>
        </div>
    </div>
</section>
    {{- partial "footer.html" . -}}

    
</body>
</html>
