<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
      <div>
        <div class="row">
          <div class="col-12 col-md-6">
            <h1>Buy wholesale bone broth in New Zealand.</h1>
            <p>Buy bulk bone broth made in New Zealand at wholesale prices for your business to use or resell. </p>
            <a href="/partner-request" class="btn btn-primary">Get started</a>
            <a href="/wholesale-login/" class="btn btn-secondary">Login</a>
          </div>
          <img src="/img/inside-out.webp" class="col-12 col-md-6" alt="">
      </div>
      <div class="row">
        <h3 class="text-center">Why choose Primebroth wholesale?</h3>
      <div class="row justify-content-around">
        <img src="/img/reliable.webp" class="col-2" alt="Reliable supply">
        <img src="/img/lowmoq.webp" class="col-2" alt="Low MoQ">
        <img src="/img/proceeds.webp" class="col-2" alt="Exclusive Pricing">
        <img src="/img/quality.webp" class="col-2" alt="Quality Products">
        <img src="/img/dropshipping.webp" class="col-2" alt="Dropship Options">
      </div></div>
      <div class="row">
        <img src="/img/4.webp" class="col-12 col-md-6" alt="">
        <div class="col-12 col-md-6">
          <h3>Offer more to your customers with the best in the broth business</h3>
          <p>Choose from a variety of bone broths to match your brand and customer preferences. Our offerings include beef, chicken, and lamb broths, suitable for both people and pets, all with outstanding reviews.</p>
          <p>Opting for PrimeBroth ensures you provide top-notch products to your customers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <h3>Join the hub for exclusive broth and tallow buying options just for businesses</h3>
          <p>Gain access to samples and various other exclusive options for getting broth for resale.</p>
        </div>
        <img src="/img/sq2.webp" class="col-12 col-md-6" alt="">
      </div>
      <div class="row">
        <img src="/img/50front.webp" class="col-12 col-md-6" alt="">
        <div class="col-12 col-md-6">
          <h3>Want to sell high volume to your existing customers? We offer whitelabel bone broth and tallow</h3>
          <p>Wellness, grocery or pet business with existing customer base? Check out our <a style="color: palevioletred; text-decoration: underline;" href="/whitelabel">whitelabel service</a> and sell under your own brand.</p>
        </div>
      </div>
      <div class="row text-center">
        <h3>What are you waiting for?</h3>
        <p>Let’s get you set up as a Primebroth wholesaler</p>
        <a href="/partner-request" class="btn btn-primary middle">Get started</a>
      </div>
      </div>
    </div>            
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>


