<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=667c998f7bead90019480329&product=inline-share-buttons&source=platform" async="async"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script> <!-- Stripe script -->
</head>
<body>
    <style>

        .custom-radio input[type="radio"]:checked + .custom-radio-label::before {
          background-color: green;
        }
        
        .custom-radio-label {
            color: green;
        }
            </style>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    
    <div class="container">
        <div class="row topbanner rel">
            <p class="graytxt ninety position-absolute mt-1"><a href="/shop" class="darkgraytxt front pl-2 text-decoration-underline">Shop</a> > People & pets broth bundle</p>

            <div class="col-xs-12 col-lg-6 product-photos mt-3 mb-0">
                {{- partial "brothsimages.html" . -}}
            </div>
            <div class="col-xs-12 col-lg-6">

                <img class="stars float-left mr-2" src="/img/stars/5.webp" alt=""><p class="thic">Loved by 500+ kiwis</p>
                <h1 class="thic mt-2">People & pets broth bundle <br><span class="thin">Naturally better families</span></h1>
                <p class="graytxt">From Primebroth</p>
                <p class="thin">Have the whole family <span class="attention-primebroth">glow up together!</span></p>
 

                <p id="priceDisplay" class="product-price"></p> <!-- Placeholder for the price -->

                <!-- Product Form Options with Bootstrap Styling -->

                <!-- YAML FORM STARTS -->

                <div class="price-display">
                    <p><span id="price">-</span></p>                
                </div>


                <form id="productForm" class="form-group mb-4">


                    <div class="text-left mb-4">
                        <label class="float-left mr-2">Select flavor:</label>
                        
                        <div class="product-form-radio">
                            <input type="radio" id="beef" name="flavor" value="beef" checked>
                            <label for="beef" class="product-form-radio">Beef for both</label>
                        </div></div>

                        <div class="text-left mb-4">
                            <label class="float-left mr-2">Select size:</label>
                        
                            <div class="product-form-radio">
                                <input type="radio" id="size90g-50g" name="size" value="90g-50g" checked>
                                <label for="size90g-50g" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/brothbundle/1.webp">90g people 50g pets</label></p>
                            </div>
    
                        </div>
                    
                        <div class="text-left mb-4">
                            <label class="mob-ninety mr-2">Select unit type:</label>
                        
                            <input type="radio" id="single_purchase" name="orderType" value="single_purchase" checked>
                            <label for="single_purchase" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/brothbundle/1.webp">Single bundle</label>
                        
                            <input type="radio" id="three_pack" name="orderType" value="three_pack">
                            <label for="three_pack" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/brothbundle/3.webp">3 bundles <span class="attention-primalcare small">(save 20%)</span></label>

                        </div>
    

 <!-- Quantity Selector -->
 <div class="form-group mb-4">
    <div class="mt-4 custom-radio float-right">
        <input type="radio" id="inStock" name="stockStatus" checked>
        <label class="custom-radio-label mb-0" for="inStock">In Stock</label>
    </div>
    <label for="quantityAll">Quantity of units:</label>
    <div class="quantity-container">
        <button type="button" class="btn-decrease">-</button>
        <input type="number" class="form-control" id="quantityAll" name="quantity" min="1" value="1">
        <button type="button" class="btn-increase">+</button>
      </div>
    </div>

                    



               <!-- Add to Cart Button -->
               <div class="add-to-cart text-center mb-4">
                <button type="button" class="btn btn-primary btn-lg buy-now mb-1" data-price-id="" data-quantity-id="quantityAll">Add To Cart</button>
                <p>Speedy Shipping NZ Wide | Money back guarantee</p>
                <img class="badges middle" src="/img/stripe-badge-transparent.webp" alt="stripe secure badges">

            </div>

                </form>

                
                    <!-- YAML FORM ENDS -->

                
            </div>
        </div>
        <div class="row mt-0">
            <div class="col-12 col-md-6">
                    <img src="/img/markets/11.webp" alt="Click to watch video" id="thumbnail" data-video-id="videoContainer1" loading="lazy">
            </div>
            <div class="faq-tab-container col-12 col-md-6">
                <!-- Nav tabs -->
                <div class="faq-nav-tabs">
                    <div class="faq-nav-tab active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Fast facts</div>
                    <div class="faq-nav-tab" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</div>
                    <div class="faq-nav-tab" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</div>
                    <div class="faq-nav-tab" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</div>
                    <div class="faq-nav-tab" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</div>
                    <div class="faq-nav-tab" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</div>
                </div>
        
                <!-- Tab panes -->
                <div class="tab-content faq-tab-content">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">        
                        <p>A rich and savoury powdered broth ready to scoop and serve at home or on the go.</p>

                        <h6>What makes our broth powder different?</h6>
                        <ul>
                            <li>We drink it ourselves every day and attend markets every week, working closely with customers to produce a product they like. We’ve made a recipe that tastes good out of the bag!</li>
                            <li>All natural ingredients, no nasties added. </li>
                        </ul>


            <h6>Key benefits of the Primebroth range</h6>
            <ul>
                <li>Contains collagen, protein and other nutritional goodies that support joints, gut, muscle, skin and nail health.</li>
            </ul>

                        
                        <div class="row text-center justify-content-around mt-0 mb-0">
                            <h4>Join the bonelyfans using Primebroth</h4>
                           <h6>See why <span class="attention-primebroth">1000+ kiwis just like you</span> switched to Primebroth</h6>
                                        <img class="seventy" src="/img/powder-difference.svg" alt="">
                            </div>
                        
                    
                        
                    </div>
                    <div class="tab-pane fade" id="details" role="details" aria-labelledby="details-tab">
                        <h4>Humans Broth Description</h4>
                        <p>Powdered <span class="product-flavour">Beef</span> Bone Broth - 7 servings for the 50g, and 14 servings for 100g.</p>
                        <p>Our bone broth powder is a versatile product for these health-conscious and busy folks. This h bone broth is perfect for drinking or cooking with! For health benefits and mild meaty flavor mix in with hot water and consume with a bit of salt added. For culinary masterpieces and smoothies, add one serving into your favorite recipe and enjoy.</p>
                        <ul>
                            <li>Rich animal-based nutrition for less per day than your cup of coffee.</li>
                            <li>Simply mix in with hot water, sprinkle on your food, add to smoothies or meals. It is often a good and healthier substitute for stock.</li>
                            <li>Protein & collagen.</li>
                            <li>100% NZ beef bones, roasted & simmered for 32 hours.</li>
                            <li>NATURAL | DAIRY FREE | SUGAR FREE | LOW FAT | KETO & LOW CARB</li>
                            <li>Made in NZ with 100% NZ Beef</li>
                        </ul>

                        <h4>Pets broth description</h4>
                        <p>Powdered <span class="product-flavour">Beef</span> Bone Broth.</p>
                        <p>Struggle to get your pet to eat their kibble? Sick of paying ridiculous prices for expensive meat just to get them to eat? We were too, that's why we made PrimalPantry for pets.</p>
                        <p>Simply serve on their regular kibble and transform from bland to gourmet.</p>
                        <p>We're confident they'll lap it up. If they don't, we'll give your money back.</p>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <h4>See what our customers say online</h4>
                        <div class="col-12">
                            <div class="col-12 mt-2 mb-2 card">
                                <div class="card-top">
                                <p class="customer-name">Posted by <span style="font-weight: bold;">Kate</span> on <span style="font-weight: bold;">26/06/2024</span></p>
                                </div>
                                <div class="card-bottom">
                
                                <p class="feedback-text">"Billie loves it!! The first day I sprinkled it on her biscuits but she emptied the bowl out scratching to get more of the powder 😂😂 lately I’ve just been wetting a little bit of her chicken and sprinkling it on that."</p>
                            </div> </div>
                            <div class="col-12 mb-2 card">
                                <div class="card-top">
                                <p class="customer-name">Posted by <span style="font-weight: bold;">Anna</span> on <span style="font-weight: bold;">09/07/2024</span></p>
                            </div>
                            <div class="card-bottom"><p class="feedback-text">"They love it...to the point of knocking the wee jar over to try get some more!"</p>
                            </div> </div>
                            <div class="col-12 mb-2 card">
                                <div class="card-top">
                                    <p class="customer-name">Posted by <span style="font-weight: bold;">Liza</span> on <span style="font-weight: bold;">24/06/2024</span></p>
                                </div>
                                <div class="card-bottom">
                            <p class="feedback-text">"a+ very happy with the powder & my dogs love it."</p>
                        </div>
                        </div> 
                        </div>  
                    </div>
                    <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                        <h4>Ingredients</h4>
                        <p><span class="product-flavour">Beef</span> bones (92%), onions, carrots, celery, apple cider vinegar, salt, spices.</p>
                        <p>May contain Cashew Nuts, Wheat, Gluten.</p>
                        <p>The pets version is sans onions, salt and spices.</p>     
                            </div>
                            
                            
                                              
                    
                            
                    <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                        <h4>Directions</h4>
                        <h6>People's broth directions</h6>
                        <p>Serving size: A single serving is 2 tsp.</p>
                        <p>How to prepare it:</p>
                        <ul>
                            <li>To drink as is - Add two tsp to a cup of hot water, stir and enjoy.</li>
                            <li>To cook with - Use in place of stock or water in your favorite recipe. Either add 2tsp to 250ml of water or add directly as powder.</li>
                        </ul> 
                    

                        <h6>Pet's broth directions</h6>
                        <p>Best served as a meal topper</p>
                        <p>Serving as a liquid</p>
                        <ol>
                            <li>Mix a serving of powder with 100 ml of hot water and add to their biscuits.</li>
                        </ol>
                        <p>Serving as a powder</p>
                        <ol>
                            <li>Sprinkle a serving of powder onto your pet's biscuits or dinner meal.</li>
                        </ol>
                        <table>
                            <tr>
                                <th>Dog Size</th>
                                <th>Dosage</th>
                            </tr>
                            <tr>
                                <td>Small dogs (&lt;10 kg)</td>
                                <td>½ tsp daily</td>
                            </tr>
                            <tr>
                                <td>Medium dogs (10-35 kg)</td>
                                <td>1 tsp daily</td>
                            </tr>
                            <tr>
                                <td>Big dogs (35 kg +)</td>
                                <td>1½ - 2 tsp daily</td>
                            </tr>
                        </table>
                    </div>
                
                    <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                        <h4>Shipping</h4>
                        <p><strong>Processing time:</strong> Your order will be confirmed within 1-3 business days after payment confirmation. After processing, your order will be shipped the next day and you can expect usual courier times to your area (generally 3-5 business days) </p>
                        <p><strong>Shipping rates:</strong> We usually charge between $4.95 and $6.95 for shipping. You can view the shipping costs at the checkout before completing your purchase.</p>
                        <p><strong>International shipping:</strong> Currently, we only offer shipping within New Zealand. We apologize for any inconvenience this may cause.</p>
                        <p>If you have any questions or concerns regarding shipping, please don't hesitate to <a href="contact.html">contact us</a>.</p>
                    </div>
                </div>
            </div>
           
               



            
                    

        </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tabs = document.querySelectorAll('.faq-nav-tab');
        tabs.forEach(function(tab) {
            tab.addEventListener('click', function() {
                document.querySelector('.faq-nav-tab.active').classList.remove('active');
                tab.classList.add('active');
                var tabContent = document.querySelector('.faq-tab-content .tab-pane.show.active');
                tabContent.classList.remove('show', 'active');
                var target = tab.getAttribute('href');
                document.querySelector(target).classList.add('show', 'active');
            });
        });
    });
</script>
        
       <!-- YAML SCRIPT STARTS -->



<script>
    const productPricingRaw = {{ site.Data.pricing.bundles.pricing.broth_bundle | jsonify | safeJS }};
    console.log("Raw product Pricing from Hugo:", productPricingRaw);

    const productPricing = Array.isArray(productPricingRaw) ? productPricingRaw : [];
    if (!Array.isArray(productPricing)) {
        console.error("productPricing is not an array. Ensure your YAML structure and Hugo data access.");
    } else {
        console.log("Parsed product Pricing:", productPricing);
    }

    function updatePrice() {
        const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
        const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();

        console.log("Selected size:", size);
        console.log("Selected order type:", orderType);

        const pricingEntry = productPricing.find(entry => entry.size.toLowerCase() === size);
        if (pricingEntry && pricingEntry.prices[orderType]) {
            const price = pricingEntry.prices[orderType];
            document.getElementById("price").textContent = `$${price.toFixed(2)}`;
        } else {
            document.getElementById("price").textContent = "N/A";
        }
    }

    // Attach event listener for changes
    document.getElementById("productForm").addEventListener("change", updatePrice);

    // Initialize the price on page load
    document.addEventListener("DOMContentLoaded", updatePrice);
</script>


<script>
    // Function to update the price ID display
    function updatePriceID() {
        const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
        const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
        const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();
    


    // Default value for price ID
    let priceID = "N/A";

    // Debug: Check the loaded data and selected values
    console.log("Loaded Data:", productPricingRaw);
    console.log("Selected - Size:", size, "Flavor:", flavor, "Order Type:", orderType);

    // Traverse the pricing structure for the selected combination
    if (productPricingRaw && productPricingRaw.ids && productPricingRaw.ids.broth_bundle) {
        const balmData = productPricingRaw.ids.broth_bundle;
        console.log("balm Data:", balmData);

        const orderTypeData = balmData[orderType];
        console.log("Order Type Data:", orderTypeData);

        if (orderTypeData && orderTypeData[flavor]) {
            const flavorData = orderTypeData[flavor];
            console.log("Flavor Data:", flavorData);

            const sizeData = flavorData[size];
            console.log("Size Data:", sizeData);

            if (sizeData) {
                priceID = sizeData; // Assign the resolved price ID
            }
        }
    }

    // Update the DOM element with the resolved price ID
    document.getElementById("price-id").textContent = priceID !== "N/A" ? priceID : "Price ID Not Available";

    // Log final result
    console.log("Resolved Price ID:", priceID);

};
</script>
<script>
    // Parse the JSON string into an object
    const rawData = "{{ .Site.Data.pricing | jsonify }}"; // Embedded JSON string from Hugo
    const pricingData = JSON.parse(rawData); // Parse into a JavaScript object
    console.log('Parsed Pricing Data:', pricingData); // Debugging output

    function updatePriceId() {
    // Get the selected values
    const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
        const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
        const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();
    
    try {
        let priceId;

        // Access the correct price ID based on the order type
        if (orderType === 'single_purchase') {
            priceId = pricingData.bundles.ids.broth_bundle.single[flavor][size];
        } else if (orderType === 'recurring_monthly') {
            priceId = pricingData.bundles.ids.broth_bundle.monthly[flavor][size];
        } else if (orderType === 'recurring_quarterly') {
            priceId = pricingData.bundles.ids.broth_bundle.quarterly[flavor][size];
        } else if (orderType === 'three_pack') {
            priceId = pricingData.bundles.ids.broth_bundle.pack[flavor][size];
        }

        console.log('Price ID:', priceId);

        // Update the DOM element with the resolved price ID, if it exists
        const priceIdElement = document.getElementById('price-id');
        if (priceIdElement) {
            priceIdElement.textContent = priceId || 'Price ID not found';
        }

        // Update the button's data-price-id attribute
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", priceId || "");
            console.log('Button updated with Price ID:', priceId);
        }
    } catch (error) {
        console.error('Error fetching Price ID:', error);

        // Clear the button's data-price-id attribute on error
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", "");
        }
    }
}

    document.addEventListener('DOMContentLoaded', function () {
        // Add event listener for form changes
        document.getElementById('productForm').addEventListener('change', updatePriceId);

        // Trigger the update function on page load
        updatePriceId();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Convert the ids structure to a simplified format
    function preprocessproductData(rawData) {
        const simplified = {};

        // Iterate over balm (or pets, if needed)
        if (rawData.ids && rawData.ids.broth_bundle) {
            const categories = rawData.ids.broth_bundle;

            for (const [orderType, flavors] of Object.entries(categories)) {
                for (const [flavor, sizes] of Object.entries(flavors)) {
                    for (const [size, priceId] of Object.entries(sizes)) {
                        if (!simplified[size]) {
                            simplified[size] = {};
                        }
                        if (!simplified[size][flavor]) {
                            simplified[size][flavor] = {};
                        }
                        simplified[size][flavor][orderType] = priceId;
                    }
                }
            }
        }
        return simplified;
    }

    // Example: Assume productPricingRaw is available globally or passed here
    const normalizedproductData = preprocessproductData(productPricingRaw);
    console.log('Normalized product Data:', normalizedproductData);

    // Use normalizedproductData for price ID lookups
    function getPriceID(size, flavor, orderType) {
        return (
            normalizedproductData[size]?.[flavor]?.[orderType] ||
            "Price ID not found"
        );
    }

});

</script>


<script>
    // Add to Cart Handler Function
    function handleAddToCart(event) {
    event.preventDefault();

    console.log('Add to Cart button clicked!'); // Debugging

    const button = event.target;


// Retrieve values from the dropdowns
       const selectedSize = document.querySelector('input[name="size"]:checked');
    const size = document.querySelector(`label[for="${selectedSize.id}"]`).textContent.trim(); // Updated to get label text
// Use the text content of the selected option
    const selectedFlavor = document.querySelector('input[name="flavor"]:checked');
    const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
// Use the text content of the selected option
    const selectedOrderType = document.querySelector('input[name="orderType"]:checked');
    const orderTypeSelect = document.querySelector(`label[for="${selectedOrderType.id}"]`).textContent.trim();

    const unitPriceElement = document.getElementById('price');
    const unitPrice = unitPriceElement 
        ? parseFloat(unitPriceElement.textContent.replace('$', '').trim()) || 0.00
        : 0.00;

    // Retrieve the price ID
    const priceId = button.getAttribute('data-price-id') || 'N/A';
    const title = document.querySelector('h1').innerText;

    // Retrieve quantity
    const quantityField = document.getElementById('quantityAll');
    const quantity = quantityField ? parseInt(quantityField.value, 10) || 1 : 1;

    // Debugging
    console.log('Size:', size);
    console.log('Flavor:', flavor);
    console.log('Order Type:', orderTypeSelect);
    console.log('Quantity:', quantity);
    console.log('Price ID:', priceId);

    // Check if price ID is valid
    if (!priceId || priceId === 'N/A') {
        alert('Please select valid options before adding to cart.');
        return;
    }

    // Add to cart
    const cart = JSON.parse(localStorage.getItem('cart')) || [];
    cart.push({
        priceId,
        title,
        size,
        flavor,
        orderType: orderTypeSelect,
        quantity,
        unitPrice
    });
    localStorage.setItem('cart', JSON.stringify(cart));

    console.log('Cart updated:', cart); // Debugging

    // Trigger success modal or alert
    const modal = document.getElementById('addedToCartModal');
    if (modal) {
        $('#addedToCartModal').modal('show');
    } else {
        alert('Item added to cart successfully!');
    }
}

// Attach the event listener to the Add to Cart button
document.addEventListener('DOMContentLoaded', function () {
    const addToCartButton = document.querySelector('.buy-now');
    if (addToCartButton) {
        addToCartButton.addEventListener('click', handleAddToCart);
        console.log('Add to Cart button is ready.');
    } else {
        console.error('Add to Cart button not found!');
    }
});

</script>






<!-- Modal for Add to Cart Confirmation -->
<div class="modal fade" id="addedToCartModal" tabindex="-1" aria-labelledby="addedToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedToCartModalLabel">Item Added to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your item has been successfully added to the cart. What would you like to do next?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>
</div>
{{- partial "stripe.html" . -}}    

    <!-- YAML SCRIPT ENDS -->

    <script>
        const quantityInput = document.getElementById('quantityAll');
        const btnIncrease = document.querySelector('.btn-increase');
        const btnDecrease = document.querySelector('.btn-decrease');
        
        // Increase quantity
        btnIncrease.addEventListener('click', () => {
          quantityInput.value = parseInt(quantityInput.value) + 1;
        });
        
        // Decrease quantity (minimum value = 1)
        btnDecrease.addEventListener('click', () => {
          const currentValue = parseInt(quantityInput.value);
          if (currentValue > 1) {
            quantityInput.value = currentValue - 1;
          }
        });
        
            </script>

    {{- partial "footer.html" . }}
</body>
</html>
