<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=667c998f7bead90019480329&product=inline-share-buttons&source=platform" async="async"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</head>
<body>
    <style>

        .custom-radio input[type="radio"]:checked + .custom-radio-label::before {
          background-color: green;
        }
        
        .custom-radio-label {
            color: green;
        }
            </style>
    {{ if .Params.charity }}
<div class="announcement full-width black text-center">
    <ul>
        <li>Proceeds from this page are donated to {{ .Params.charity }}.</li>
    </ul>
</div>
{{ else }}
{{- partial "alert.html" . -}}
{{ end }}



    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row topbanner rel">
            <p class="graytxt ninety position-absolute mt-1"><a href="/shop" class="darkgraytxt front pl-2 text-decoration-underline">Shop</a> > Pets bone broth powder</p>

            <div class="col-xs-12 col-lg-6 product-photos mt-3 mb-0">
                {{- partial "powderimages.html" . -}}
            </div>
            <div class="col-xs-12 col-lg-6">
                <img class="stars float-left mr-2" src="/img/stars/5.webp" alt=""><p class="thic">Loved by 1000+ pets</p>

                <h1 class="thic mt-2">Bone broth powder for pets{{ if .Params.charity }} - {{ .Params.charity }}{{ end }}</h1><p class="thin h1big">Naturally Gourmet Kibble</p>
                <p class="graytxt">From Primebroth</p>
                <p class="thin">Transform your pet from <span class="attention-primebroth-pet">picky to piggy</span> with just a <span class="attention-primebroth-pet">dash in their kibble</span></p>
 
                
                
 
                   <!-- YAML FORM STARTS -->

                   <div class="price-display">
                    <p><span id="price">-</span></p>                
                </div>
                


                <form id="productForm" class="form-group mb-4">

                    <div class="text-left mb-4">
                        <label class="float-left mr-2">Select flavor:</label>
                        
                        <div class="product-form-radio">
                            <input type="radio" id="beef" name="flavor" value="beef" checked>
                            <label for="beef" class="product-form-radio">Beef</label>
                        </div></div>

                        <div class="text-left mb-4">
                            <label class="float-left mr-2">Select size:</label>
                        <!-- 
                            <div class="product-form-radio ">
                                <input type="radio" id="size50g" name="size" value="50g" checked>
                                <label for="size50g" class="product-form-radio float-left"><img class="prod-radio-img" src="/img/radio/pets/sml.webp">50g</label></p>
                            </div>
     -->
                           <div class="product-form-radio">
                                <input type="radio" id="size60g" name="size" value="90g">
                                <label for="size60g" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/pets/1.webp">90g</label></p>
                            </div>
    
                           <div class="product-form-radio">
                                <input type="radio" id="size180g" name="size" value="180g">
                                <label for="size180g" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/broth/lg.webp">180g<span class="attention-primalcare small"> (cheapest per g)</span></label></p>
                            </div>
                        </div>
                    
                        <div class="text-left mb-4">
                            <label class="ninety mr-2">Select unit type:</label>
                        
                            <input type="radio" id="single_purchase" name="orderType" value="single_purchase" checked>
                            <label for="single_purchase" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/pets/1.webp">Single pouch</label>
                        
                            <input type="radio" id="three_pack" name="orderType" value="three_pack">
                            <label for="three_pack" class="product-form-radio"><img class="prod-radio-img" src="/img/radio/pets/3.webp">3 pack <span class="attention-primalcare small">(save 20%)</span></label>
                        
                            <!-- Uncomment to enable subscription options -->
                            <!-- 
                            <input type="radio" id="recurring_monthly" name="orderType" value="recurring_monthly">
                            <label for="recurring_monthly" class="product-form-radio">Subscribe Monthly (save 20%)</label>
                        
                            <input type="radio" id="recurring_quarterly" name="orderType" value="recurring_quarterly">
                            <label for="recurring_quarterly" class="product-form-radio">Subscribe Quarterly (save 12.5%)</label>
                            -->
                        </div>
    

 <!-- Quantity Selector -->
 <div class="form-group mb-4">
    <div class="mt-4 custom-radio float-right">
        <input type="radio" id="inStock" name="stockStatus" checked>
        <label class="custom-radio-label mb-0" for="inStock">In stock</label>
    </div>
    <label for="quantityAll">Quantity of units:</label>
    <div class="quantity-container">
        <button type="button" class="btn-decrease">-</button>
        <input type="number" class="form-control" id="quantityAll" name="quantity" min="1" value="1">
        <button type="button" class="btn-increase">+</button>
      </div>
</div>

                    



                <!-- Add to Cart Button -->
                <div class="add-to-cart text-center mb-4">
                    <button type="button" class="btn btn-primary btn-lg buy-now mb-1" data-price-id="" data-quantity-id="quantityAll">Add To Cart</button>
                    <p>Speedy Shipping NZ Wide | Money back guarantee</p>
                    <img class="badges middle" src="/img/stripe-badge-transparent.webp" alt="stripe secure badges">

                </div>
                </div>

                </form>

                
                    <!-- YAML FORM ENDS -->
               
               
                
                
            </div>

            

            <div class="row mt-0 text-center">
                <div class="col-12 col-md-6 "> 
                    <h2>An affordable way to bring excitement to your pet's dinner</h2>
                   <img class=" middle" src="/img/billie.webp" alt="">
                    <p>Bone broth soaked kibble brings the same flavour while <span class="attention-primebroth-pet">saving you hundreds on expensive and unhealthy</span> treats or meats.</p>
   
                </div>

                <div class="faq-tab-container col-12 col-md-6">
                    <!-- Nav tabs -->
                    <div class="faq-nav-tabs">
                        <div class="faq-nav-tab active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Fast Facts</div>
                        <div class="faq-nav-tab" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</div>
                        <div class="faq-nav-tab" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</div>
                        <div class="faq-nav-tab" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</div>
                        <div class="faq-nav-tab" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</div>
                    </div>
            
                    <!-- Tab panes -->
                    <div class="tab-content faq-tab-content">
                        <div class="tab-pane fade show text-center active" id="description" role="tabpanel" aria-labelledby="description-tab">


                           <h4>Why use Bone broth for Cats and Dogs from Primebroth?</h4>
                    
                            <p>Struggle to get your pet to eat their kibble? Sick of paying ridiculous prices for expensive meat just to get them to eat? We were too, that’s why we made Primebroth for pets.</p>

                                <p>Simply serve on their regular kibble and transform from bland to gourmet.</p>
                                
                                <p>We’re confident they’ll lap it up. If they don’t, we’ll give your money back.</p>

                            <div class="row text-center justify-content-around mt-0 mb-0">
                                <h4>Join the bonelyfans using Primebroth</h4>
                               <h6>See why <span class="attention-primebroth-pet">1500+ kiwis just like you</span> switched to Primebroth</h6>
                                            <img class="seventy" src="/img/pet-difference.svg" alt="">
                                </div>

                            
                            {{ if .Params.charitylink }}
                            <p><a style="text-decoration: none;" href="{{ .Params.charitylink }}" rel="nofollow">Want to learn more about this charity? see here</a></p>
                            {{ end }} 
                            <div class="row middle justify-content-around mt-0 p-4">
                                <h4 class="text-center">Featured by</h4>
                                <div class="col-4">
                                    <img src="/img/blkdogwatch.webp" alt="">
                                </div>
                                <div class="col-4">
                                    <img src="/img/blkchihuahua.webp" alt="">
                                </div>
                                <div class="col-4">
                                    <img src="/img/blkbully.webp" alt="">
                                </div> </div>                      
                            
                            

                           
                            
                            
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <h4>See what our customers say online</h4>
                            <div class="col-12">
                                <div class="col-12 mt-2 mb-2 card">
                                    <div class="card-top">
                                    <p class="customer-name">Posted by <span style="font-weight: bold;">Kate</span> on <span style="font-weight: bold;">26/06/2024</span></p>
                                    </div>
                                    <div class="card-bottom">
                    
                                    <p class="feedback-text">"Billie loves it!! The first day I sprinkled it on her biscuits but she emptied the bowl out scratching to get more of the powder 😂😂 lately I’ve just been wetting a little bit of her chicken and sprinkling it on that."</p>
                                </div> </div>
                                <div class="col-12 mb-2 card">
                                    <div class="card-top">
                                    <p class="customer-name">Posted by <span style="font-weight: bold;">Anna</span> on <span style="font-weight: bold;">09/07/2024</span></p>
                                </div>
                                <div class="card-bottom"><p class="feedback-text">"They love it...to the point of knocking the wee jar over to try get some more!"</p>
                                </div> </div>
                                <div class="col-12 mb-2 card">
                                    <div class="card-top">
                                        <p class="customer-name">Posted by <span style="font-weight: bold;">Liza</span> on <span style="font-weight: bold;">24/06/2024</span></p>
                                    </div>
                                    <div class="card-bottom">
                                <p class="feedback-text">"a+ very happy with the powder & my dogs love it."</p>
                            </div>
                            </div> 
                            </div>                        </div>
                        <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                            <h4>Ingredients</h4>
                            <p><span class="product-flavour">Beef</span> Bones, Carrots, Celery, Apple cider vinegar</p>
                        </div>
                        <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                            <h4>Directions</h4>
                            <p><strong>Best served as a meal topper</strong></p>
                            <p>Serving as a liquid</p>
                            <ol>
                                <li>Mix a serving of powder with 100 ml of hot water and add to their biscuits.</li>
                            </ol>
                            <p>Serving as a powder</p>
                            <ol>
                                <li>Sprinkle a serving of powder onto your pet's biscuits or dinner meal.</li>
                            </ol>
                            <table>
                                <tr>
                                    <th>Dog Size</th>
                                    <th>Dosage</th>
                                </tr>
                                <tr>
                                    <td>Small dogs (&lt;10 kg)</td>
                                    <td>½ tsp daily</td>
                                </tr>
                                <tr>
                                    <td>Medium dogs (10-35 kg)</td>
                                    <td>1 tsp daily</td>
                                </tr>
                                <tr>
                                    <td>Big dogs (35 kg +)</td>
                                    <td>1½ - 2 tsp daily</td>
                                </tr>
                            </table>

                            <p>Keep in a cool dry place - 2 years unopened, 4 months after opening.</p>

                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <h4>Shipping</h4>
                            <p><strong>Processing time:</strong> Your order will be confirmed within 1-3 business days after payment confirmation. After processing, your order will be shipped the next day and you can expect usual courier times to your area (generally 3-5 business days) </p>
                            <p><strong>Shipping rates:</strong> We usually charge between $4.95 and $6.95 for shipping. You can view the shipping costs at the checkout before completing your purchase.</p>
                            <p><strong>International shipping:</strong> Currently, we only offer shipping within New Zealand. We apologize for any inconvenience this may cause.</p>
                            <p>If you have any questions or concerns regarding shipping, please don't hesitate to <a href="contact.html">contact us</a>.</p>
                        </div>
                        
                    </div>
                </div>
            
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var tabs = document.querySelectorAll('.faq-nav-tab');
                        tabs.forEach(function(tab) {
                            tab.addEventListener('click', function() {
                                document.querySelector('.faq-nav-tab.active').classList.remove('active');
                                tab.classList.add('active');
                                var tabContent = document.querySelector('.faq-tab-content .tab-pane.show.active');
                                tabContent.classList.remove('show', 'active');
                                var target = tab.getAttribute('href');
                                document.querySelector(target).classList.add('show', 'active');
                            });
                        });
                    });
                </script>
                </div>
        </div>
    </div>
</div>
    
    
    </div>

{{- partial "stripe.html" . -}}    
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const accordions = document.querySelectorAll(".accordion-minimal");

    accordions.forEach(accordion => {
        const header = accordion.querySelector(".accordion-minimal-header");

        header.addEventListener("click", function() {
            // Close all accordions
            accordions.forEach(acc => {
                if (acc !== accordion) {
                    acc.querySelector(".accordion-minimal-content").classList.remove("show");
                }
            });
            // Toggle the clicked accordion
            const content = this.nextElementSibling;
            content.classList.toggle("show");
        });
    });
});

</script>

<!-- THIS IS WHERE ADD TO CART STARTS -->
<script>
    const productPricingRaw = {{ site.Data.pricing.broth.pricing | jsonify | safeJS }};
    console.log("Raw product Pricing from Hugo:", productPricingRaw);
    const country_code = localStorage.getItem('country_code');

    const productPricing = Array.isArray(productPricingRaw) ? productPricingRaw : [];
    if (!Array.isArray(productPricing)) {
        console.error("productPricing is not an array. Ensure your YAML structure and Hugo data access.");
    } else {
        console.log("Parsed product Pricing:", productPricing);
    }

    function updatePrice() {
        const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
        const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();

        console.log("Selected size:", size);
        console.log("Selected order type:", orderType);

        const pricingEntry = productPricing.find(entry => entry.size.toLowerCase() === size);
        if (pricingEntry && pricingEntry.prices[country_code][orderType]) {
            const price = pricingEntry.prices[country_code][orderType];
            document.getElementById("price").textContent = `$${price.toFixed(2)}`;
        } else {
            document.getElementById("price").textContent = "N/A";
        }
    }

    // Attach event listener for changes
    document.getElementById("productForm").addEventListener("change", updatePrice);

    // Initialize the price on page load
    document.addEventListener("DOMContentLoaded", updatePrice);
</script>


<script>
    // Function to update the price ID display
    function updatePriceID() {
        const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
        const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
        const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();
    


    // Default value for price ID
    let priceID = "N/A";

    // Debug: Check the loaded data and selected values
    console.log("Loaded Data:", productPricingRaw);
    console.log("Selected - Size:", size, "Flavor:", flavor, "Order Type:", orderType);

    // Traverse the pricing structure for the selected combination
    if (productPricingRaw && productPricingRaw.ids && productPricingRaw.ids.pets) {
        const petsData = productPricingRaw.ids.pets;
        console.log("pets Data:", petsData);

        const orderTypeData = petsData[orderType];
        console.log("Order Type Data:", orderTypeData);

        if (orderTypeData && orderTypeData[flavor]) {
            const flavorData = orderTypeData[flavor];
            console.log("Flavor Data:", flavorData);

            const sizeData = flavorData[size];
            console.log("Size Data:", sizeData);

            if (sizeData) {
                priceID = sizeData[country_code]; // Assign the resolved price ID
            }
        }
    }

    // Update the DOM element with the resolved price ID
    document.getElementById("price-id").textContent = priceID !== "N/A" ? priceID : "Price ID Not Available";

    // Log final result
    console.log("Resolved Price ID:", priceID);

};
</script>
<script>
    // Parse the JSON string into an object
    const rawData = "{{ .Site.Data.pricing | jsonify }}"; // Embedded JSON string from Hugo
    const pricingData = JSON.parse(rawData); // Parse into a JavaScript object
    console.log('Parsed Pricing Data:', pricingData); // Debugging output

    function updatePriceId() {
    // Get the selected values
    const size = document.querySelector('input[name="size"]:checked').value.trim().toLowerCase(); // Updated line
    const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
    const orderType = document.querySelector('input[name="orderType"]:checked').value.trim().toLowerCase();

    try {
        let priceId;

        // Access the correct price ID based on the order type
        if (orderType === 'single_purchase') {
            priceId = pricingData.broth.ids.pets.single[flavor][size][country_code];
        } else if (orderType === 'recurring_monthly') {
            priceId = pricingData.broth.ids.pets.monthly[flavor][size][country_code];
        } else if (orderType === 'recurring_quarterly') {
            priceId = pricingData.broth.ids.pets.quarterly[flavor][size][country_code];
        } else if (orderType === 'three_pack') {
            priceId = pricingData.broth.ids.pets.pack[flavor][size][country_code];
        }

        console.log('Price ID:', priceId);

        // Update the DOM element with the resolved price ID, if it exists
        const priceIdElement = document.getElementById('price-id');
        if (priceIdElement) {
            priceIdElement.textContent = priceId || 'Price ID not found';
        }

        // Update the button's data-price-id attribute
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", priceId || "");
            console.log('Button updated with Price ID:', priceId);
        }
    } catch (error) {
        console.error('Error fetching Price ID:', error);

        // Clear the button's data-price-id attribute on error
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", "");
        }
    }
}

    document.addEventListener('DOMContentLoaded', function () {
        // Add event listener for form changes
        document.getElementById('productForm').addEventListener('change', updatePriceId);

        // Trigger the update function on page load
        updatePriceId();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Convert the ids structure to a simplified format
    function preprocessproductData(rawData) {
        const simplified = {};

        // Iterate over pets (or pets, if needed)
        if (rawData.ids && rawData.ids.pets) {
            const categories = rawData.ids.pets;

            for (const [orderType, flavors] of Object.entries(categories)) {
                for (const [flavor, sizes] of Object.entries(flavors)) {
                    for (const [size, priceId] of Object.entries(sizes)) {
                        if (!simplified[size]) {
                            simplified[size] = {};
                        }
                        if (!simplified[size][flavor]) {
                            simplified[size][flavor] = {};
                        }
                        simplified[size][flavor][orderType] = priceId;
                    }
                }
            }
        }
        return simplified;
    }

    // Example: Assume productPricingRaw is available globally or passed here
    const normalizedproductData = preprocessproductData(productPricingRaw);
    console.log('Normalized product Data:', normalizedproductData);

    // Use normalizedproductData for price ID lookups
    function getPriceID(size, flavor, orderType) {
        return (
            normalizedproductData[size]?.[flavor]?.[orderType] ||
            "Price ID not found"
        );
    }

});

</script>


<script>
    // Add to Cart Handler Function
    function handleAddToCart(event) {
    event.preventDefault();

    console.log('Add to Cart button clicked!'); // Debugging

    const button = event.target;


    // Retrieve values from the dropdowns
    const selectedSize = document.querySelector('input[name="size"]:checked');
    const size = document.querySelector(`label[for="${selectedSize.id}"]`).textContent.trim(); // Updated to get label text
// Use the text content of the selected option
const selectedFlavor = document.querySelector('input[name="flavor"]:checked');
const flavor = document.querySelector('input[name="flavor"]:checked').value.trim().toLowerCase();
// Use the text content of the selected option
    const selectedOrderType = document.querySelector('input[name="orderType"]:checked');
    const orderTypeSelect = document.querySelector(`label[for="${selectedOrderType.id}"]`).textContent.trim();


    const unitPriceElement = document.getElementById('price');
    const unitPrice = unitPriceElement 
        ? parseFloat(unitPriceElement.textContent.replace('$', '').trim()) || 0.00
        : 0.00;

    // Retrieve the price ID
    const priceId = button.getAttribute('data-price-id') || 'N/A';
    const title = document.querySelector('h1').innerText;

    // Retrieve quantity
    const quantityField = document.getElementById('quantityAll');
    const quantity = quantityField ? parseInt(quantityField.value, 10) || 1 : 1;

    // Debugging
    console.log('Size:', size);
    console.log('Flavor:', flavor);
    console.log('Order Type:', orderTypeSelect);
    console.log('Quantity:', quantity);
    console.log('Price ID:', priceId);

    // Check if price ID is valid
    if (!priceId || priceId === 'N/A') {
        alert('Please select valid options before adding to cart.');
        return;
    }

    // Add to cart
    const cart = JSON.parse(localStorage.getItem('cart')) || [];
    cart.push({
        priceId,
        title,
        size,
        flavor,
        orderType: orderTypeSelect,
        quantity,
        unitPrice
    });
    localStorage.setItem('cart', JSON.stringify(cart));

    console.log('Cart updated:', cart); // Debugging

    // Trigger success modal or alert
    const modal = document.getElementById('addedToCartModal');
    if (modal) {
        $('#addedToCartModal').modal('show');
    } else {
        alert('Item added to cart successfully!');
    }
}

// Attach the event listener to the Add to Cart button
document.addEventListener('DOMContentLoaded', function () {
    const addToCartButton = document.querySelector('.buy-now');
    if (addToCartButton) {
        addToCartButton.addEventListener('click', handleAddToCart);
        console.log('Add to Cart button is ready.');
    } else {
        console.error('Add to Cart button not found!');
    }
});

</script>



<!-- Modal for Add to Cart Confirmation -->
<div class="modal fade" id="addedToCartModal" tabindex="-1" aria-labelledby="addedToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedToCartModalLabel">Item Added to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your item has been successfully added to the cart. What would you like to do next?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>
</div>


<!-- THIS IS WHERE ADD TO CART ENDS -->



<script>
    const quantityInput = document.getElementById('quantityAll');
    const btnIncrease = document.querySelector('.btn-increase');
    const btnDecrease = document.querySelector('.btn-decrease');
    
    // Increase quantity
    btnIncrease.addEventListener('click', () => {
      quantityInput.value = parseInt(quantityInput.value) + 1;
    });
    
    // Decrease quantity (minimum value = 1)
    btnDecrease.addEventListener('click', () => {
      const currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
      }
    });
    
        </script>


{{- partial "footer.html" . -}}
</body>
</html>
 