<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    {{- partial "alert.html" . -}}
    <div class="announcement full-width black text-center">
        <ul>
          <li>Free shipping on all orders in Christchurch.</li>
        </ul>
      </div>
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row topbanner rel">
            <div class="col-xs-12 col-lg-6 product-photos">
                <img class="main-image" src="/img/pets-broth3.webp" alt="Main Product Image">            
                <div class="product-images">
                    <img class="product-image" src="/img/pets-broth2.webp" alt="Thumbnail 1">
                    <img class="product-image" src="/img/pets-broth1.webp" alt="Thumbnail 3">
                    <img class="product-image" src="/img/pet-label.webp" alt="Thumbnail 2">
                    <img class="product-image" src="/img/back-label-pet.webp" alt="Thumbnail 4">
                    <!-- Add more thumbnail images as needed -->
                </div></div>
            <div class="col-xs-12 col-lg-6">
                <h1>Bone Broth for Pets - Single Jar</h1>
                <h3>Proven source of wellness nutrition</h3>
                <img class="stars" src="/img/stars/5.webp" alt="review rating for bone broth product">
                <p>(21)</p>
                <p>$7.95</p>

                <p>5x400ml of Organic Beef Bone Broth</p>
                <p>Essential meal topper for dogs and cats</p>
                <p>This bone broth is concentrated and has not been watered down, when chilled it is gelatinous due to the high collagen content–this is how you can tell it's the real deal! If warmed it will return to a liquid state.</p>
                <ul>
                    <li>100% human grade</li>
                    <li>Organic, no additives</li>
                    <li>Healthy skin and coat</li>
                    <li>Better digestion</li>
                    <li>Strong joints</li>
                </ul>
                

                <a href="https://buy.stripe.com/bIYaGT1qY0tLgEg008" class="btn btn-primary" onclick="return gtag_report_conversion('https://buy.stripe.com/bIYaGT1qY0tLgEg008');">Buy now</a>

                <div>
                    <div class="faq mt-4">
                        <div class="accordion-item grow">
                          <h4 class="accordion-heading">Ingredients</h4>
                          <div class="accordion-content">
                            <p>Beef Bones, Carrots, Celery, Apple cider vinegar</p>                        </div>
                        </div>
                        <div class="accordion-item grow">
                          <h4 class="accordion-heading">Nutrition information</h4>
                          <div class="accordion-content">
                            <p>
                              <strong>Servings Per Packet:</strong> 1.5<br>
                              <strong>Serving Size:</strong> 250mL<br><br>
                              <strong>Per Serving*</strong> <strong>Per 100g or 100mL*</strong><br>
                              <strong>Energy</strong><br>
                              - 228kJ<br>
                              - 91kJ<br>
                              <strong>Protein</strong><br>
                              - 12.0g<br>
                              - 4.8g<br>
                              <strong>Fat, Total</strong><br>
                              - 0.2g<br>
                              - 0.1g<br>
                              - Saturated: 0.1g<br>
                              - 0.0g<br>
                              <strong>Carbohydrate</strong><br>
                              - 0.9g<br>
                              - 0.4g<br>
                              - Sugars: 0.9g<br>
                              - 0.4g<br>
                              <strong>Dietary Fibre:</strong> Value not available<br>
                              <strong>Sodium</strong><br>
                              - 277mg<br>
                              - 111mg<br>
                              <em>*All values are considered to be average</em>
                          </p>
                                                    </div>
                        </div>
                        <div class="accordion-item grow">
                          <h4 class="accordion-heading">How do I prepare it?</h4>
                          <div class="accordion-content">
                            <b>How to Serve Your Pet Bone Broth:</b>
                            <br>
                            <p>How to use your bone broth for pets as a food topper.</p>
                            <p>1. Scrape off the fat cap (we purposely leave this on for added freshness).</p>
                            <p>3. Measure out 30ml to 100ml of bone broth depending on the size of your animal.</p>
                            <p>4. Optional, if you find it more gelatinous than you'd like and would prefer liquid, warm in microwave briefly first (note - this is healthy and normal, due to high collagen content).</p>
                            <p>5. Optional, mix in with water if you want your pets bone broth to go further.</p>
                            <p>6. Pour bone broth onto your pets' biscuits or dinner meal.</p>
                          </div>
                        </div>
                        <div class="accordion-item grow">
                            <h4 class="accordion-heading">Storage</h4>
                            <div class="accordion-content">
                                <p>Safe to freeze. PrimeBroth should be refrigerated at temperatures below 5 degrees celcius for up to 5 days. Once opened, it should be refrigerated and consumed within 3 days for optimal freshness.</p>
                            </div>
                          </div>   
                      <div class="accordion-item grow">
                        <h4 class="accordion-heading">Shipping</h4>
                        <div class="accordion-content">
                          <p><strong>Shipping Information:</strong> PrimeBroth offers fast and reliable standard shipping for all orders. Orders typically ship within 1-3 business days after payment confirmation.</p>
                          <p><strong>Processing Time:</strong> Orders are processed quickly, usually within 1-3 business days. Please note that processing times may vary during peak seasons or promotional periods.</p>
                          <p><strong>Shipping Rates:</strong> Our shipping rates are calculated based on the weight of your order and destination within New Zealand. You can view the shipping costs for your order at checkout before completing your purchase.</p>
                          <p><strong>Tracking:</strong> Once your order has been shipped, you will receive a shipping confirmation email with a tracking number. Use this number to monitor the status of your delivery online.</p>
                          <p><strong>International Shipping:</strong> Currently, PrimeBroth only offers shipping within New Zealand. We apologize for any inconvenience this may cause.</p>
                          <p>If you have any questions or concerns regarding shipping, please don't hesitate to <a href="contact.html">contact us</a>. Our customer service team is here to assist you.</p>
                        </div>
                      </div>
                  </div>     

            </div>

            
        </div>
        <div class="row">
            <div class="col-lg-6 col">
                <h2>Grab-and-go nutrition for your pet</h2>
                <p>Give your furry friend a revitalizing boost wherever you are. No hassle of measuring and mixing up multiple powders or vitamin tablets. It's all there and ready to serve in a convenient jar.</p>
            </div>
            <img class="col-lg-6 col" src="/img/11.webp">
        </div>
        <div class="row">
            <img class="col-lg-6 col" src="/img/12.webp">
            <div class="col-lg-6 col">
                <h2>Bone Broth: Their Holistic Health Ally</h2>
                <p>Explore the myriad benefits of bone broth for your pet, from supporting gut health and promoting joint strength to enhancing skin and coat vitality. With its rich content of amino acids, collagen, and essential minerals, bone broth offers a holistic approach to your pet's wellness, making it an indispensable addition to their daily routine.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col">
                <h2>Immune Boosting Elixir for Pets</h2>
                <p>Uncover bone broth's immune-boosting prowess for your pet. Packed with nutrients and antioxidants, it fortifies their body's defenses. With gut-supportive gelatin and anti-inflammatory properties, bone broth is your pet's go-to elixir for wellness from within.</p>
            </div>
            <img class="col-lg-6 col" src="/img/13.webp">
        </div>
        <div class="row peach d-none">
            <h2>Recent Reviews from Pet Parents</h2>
            <div class="reviews">
                <div>
                    <p class="strong">Sarah</p>
                    <div>
                        <img class="stars" src="/img/stars/4.webp" alt="review rating for pet bone broth product">
                        <p>4 stars</p>
                        <p>Easy to incorporate into my pet's daily routine.</p>
                    </div>
                </div>
                <div>
                    <p class="strong">John</p>
                    <div>
                        <img class="stars" src="/img/stars/5.webp" alt="review rating for pet bone broth product">
                        <p>5 stars</p>
                        <p>Love the convenience and the health benefits for my pet!</p>
                    </div>
                </div>
                <div>
                    <p class="strong">Jessica</p>
                    <div>
                        <img class="stars" src="/img/stars/4.webp" alt="review rating for pet bone broth product">
                        <p>4 stars</p>
                        <p>Great for my pet's digestion. It's gentle on their stomach and has helped ease occasional digestive discomfort. Plus, it's a convenient way to sneak in extra nutrients throughout the day. Will definitely repurchase!</p>
                    </div>
                </div>
                <div>
                    <p class="strong">Alex</p>
                    <div>
                        <img class="stars" src="/img/stars/5.webp" alt="review rating for pet bone broth product">
                        <p>5 stars</p>
                        <p>Highly recommended! Perfect for my pet's overall wellness. I've noticed a positive difference in their energy levels and coat health. I love how easy it is to incorporate into their diet. Definitely a must-have for pet parents!</p>
                    </div>
                </div>
                <div>
                    <p class="strong">David</p>
                    <div>
                        <img class="stars" src="/img/stars/4.webp" alt="review rating for pet bone broth product">
                        <p>4 stars</p>
                        <p>Helps my pet feel energized throughout the day. This bone broth is a staple in my pet's diet. I love knowing that I'm nourishing them with every serving. Definitely recommend giving it a try!</p>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div>
                <h2 class="text-center">Frequently Asked Questions</h2>
                <div class="faq mt-4">
                    
                    <div class="accordion-item grow">
                      <h4 class="accordion-heading">How is it made?</h4>
                      <div class="accordion-content">
                        <p>At PrimeBroth, crafting our premium bone broth is an art form, meticulously honed over years of dedication to quality and flavor. We begin with the finest selection of locally sourced, organic bones, ensuring that each batch is infused with the essence of pure, wholesome goodness.</p>

                        <p>Our artisanal process involves slow-simmering these carefully chosen bones in small batches, allowing them to release their rich collagen, minerals, and nutrients into the broth. This gentle cooking method ensures that every sip of PrimeBroth is bursting with flavor and packed with the nourishing benefits your body craves.</p>
                    
                        <p>But our commitment to excellence doesn't stop there. After hours of simmering, the broth is meticulously strained and cooled to perfection, preserving its natural integrity and depth of flavor. The result? A velvety-smooth liquid gold that embodies the essence of comfort and well-being.</p>
                    
                        <p>From our kitchen to your table, PrimeBroth is more than just a beverage—it's a testament to our unwavering dedication to quality, purity, and taste. Elevate your culinary experience and nourish your body with the unparalleled goodness of PrimeBroth.</p>
                    
                      </div>
                    </div>
                    
                      <div class="accordion-item grow">
                        <h4 class="accordion-heading">How long will a jar last?</h4>
                        <div class="accordion-content">
                          <p>Refer to the use-by date on the bottle. Once opened, promptly refrigerate unused product at below 5°C and use within 3 days. Do not heat bottle in microwave.</p>
                        </div>
                      </div>

<div class="accordion-item grow">
    <h4 class="accordion-heading">Do you offer bulk or subscription options?</h4>
    <div class="accordion-content">
        <p>Yes, we offer bulk purchasing options and subscription plans for those who want to enjoy PrimeBroth regularly. Visit our website or contact customer support for more information on these options.</p>
    </div>
</div>

                  </div>                         
                </div>
            </div>
    </div></div>
    <!-- Add html above -->
    {{- partial "footer.html" . -}}
</body>
</html>

