<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=667c998f7bead90019480329&product=inline-share-buttons&source=platform" async="async"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
</head>
<body>

    <style>

.custom-radio input[type="radio"]:checked + .custom-radio-label::before {
  background-color: green;
}

.custom-radio-label {
    color: green;
}
    </style>
    
    {{ if .Params.charity }}
<div class="announcement full-width black text-center">
    <ul>
        <li>Proceeds from this page are donated to {{ .Params.charity }}.</li>
    </ul>
</div>
{{ else }}
{{- partial "alert.html" . -}}
{{ end }}

 

    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row topbanner rel">
            <p class="graytxt ninety position-absolute mt-1 "><a href="/shop" class="darkgraytxt front pl-2 text-decoration-underline">Shop</a> > Bone broth powder</p>
            <div class="col-xs-12 col-lg-6 product-photos mt-3 mb-0">
                {{- partial "pplpowderimages.html" . -}}
            </div>            
        
            <div class="col-xs-12 col-lg-6">
                <img class="stars float-left mr-2" src="/img/stars/5.webp" alt=""><p class="thic">Loved by 1000+ kiwis</p>
                <h1 class="thic mt-2">Bone Broth Powder <br><span class="thin">Naturally Healthy Cooking</span></h1>
                <p class="graytxt">From Primebroth</p>
                <p class="thin">Your friends will ask what’s the secret to your <span class="attention-primebroth">beefed up cooking game!</span></p>

                

    <!-- YAML FORM STARTS -->

                <div class="price-display thic">
                    <p><span id="price">-</span></p>                
                </div>


                <form id="productForm" class="form-group mb-4">
                    <div class="text-left mb-4">
                        <label class="font-weight-bold" for="size">Select Size:</label>
                        <select class="form-control" id="size" name="size">
                        <!--     <option value="50g">50g</option> -->
                            <option value="90g">90g</option>
                            <option value="180g">180g</option>
                        </select>
                    </div>
                    <div class="text-left mb-4">
                        <label class="font-weight-bold" for="flavor">Select Flavor:</label>
                        <select class="form-control" id="flavor" name="flavor">
                            <option value="beef">Beef</option>
                     <!--     <option value="chicken">Chicken</option>-->
                         <!--    <option value="duck">Duck</option> -->
                       <!--       <option value="fish">Fish</option>-->
                       <!--       <option value="lamb">Lamb</option>-->
                       <!--       <option value="venison">Venison</option>-->
                      <!--        <option value="pork">Pork</option>-->
                        </select>
                    </div>
                    <div class="text-left mb-4">
                        <label class="font-weight-bold"  for="orderType">Select Order Type:</label>
                        <select class="form-control" id="orderType" name="orderType">
                            <option value="single_purchase">Single unit</option>
                            <option value="three_pack">3 pack (save 20%)</option>
                          <!--  <option value="recurring_monthly">Subscribe Monthly (save 20%)</option> 
                          <option value="recurring_quarterly">Subscribe Quarterly (save 12.5%)</option>-->
                        </select>
                    </div>

 <!-- Quantity Selector -->
 <div class="form-group mb-4">
    <label for="quantityAll" class="font-weight-bold">Quantity:</label><div class="custom-radio float-right" >
        <input type="radio" id="inStock" name="stockStatus" checked>
        <label class="custom-radio-label mb-0" for="inStock">In Stock</label>
    </div>
    <input type="number" class="form-control" id="quantityAll" name="quantity" min="1" value="1">
</div>

                    



                <!-- Add to Cart Button -->
                <div class="add-to-cart text-center mb-4">
                    <button type="button" class="btn btn-primary btn-lg buy-now mb-1" data-price-id="" data-quantity-id="quantityAll">Add To Cart</button>
                    <p>Speedy Shipping NZ Wide | Money back guarantee</p>
                    <img class="badges middle" src="/img/stripe-badge-transparent.webp" alt="stripe secure badges">

                </div>

                </form>

                
                    <!-- YAML FORM ENDS -->

            </div>

            <div class="row mt-0">
                <div class="col-12 col-md-6">
                    <img src="/img/markets/11.webp" alt="Click to watch video" id="thumbnail" data-video-id="videoContainer1">
            </div>
            <div class="faq-tab-container col-12 col-md-6">
                <!-- Nav tabs -->
                <div class="faq-nav-tabs">
                    <div class="faq-nav-tab active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</div>
                    <div class="faq-nav-tab" id="nutrition-tab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="nutrition" aria-selected="false">Nutrition</div>
                    <div class="faq-nav-tab" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</div>
                    <div class="faq-nav-tab" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</div>
                    <div class="faq-nav-tab" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</div>
                </div>
        
                <!-- Tab panes -->
                <div class="tab-content faq-tab-content">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">                        
                        <p>A rich and savoury powdered broth ready to scoop and serve at home or on the go.</p>

                        <h6>What makes our broth powder different?</h6>
                        <ul>
                            <li>We drink it ourselves every day and attend markets every week, working closely with customers to produce a product they like. We’ve made a recipe that tastes good out of the bag!</li>
                            <li>All natural ingredients, no nasties added. </li>
                        </ul>


            <h6>Key benefits of the Primebroth range</h6>
            <ul>
                <li>Contains collagen, protein and other nutritional goodies that support joints, gut, muscle, skin and nail health.</li>
            </ul>

            <div class="row text-center justify-content-around mt-0 mb-0">
                <h4>Join the bonelyfans using Primebroth</h4>
               <h6>See why <span class="attention-primebroth">1000+ kiwis just like you</span> switched to Primebroth</h6>
                            <img class="seventy" src="/img/powder-difference.svg" alt="">
                </div>
                    
                        
                    </div>
                    <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                        <h4>Ingredients</h4>
                        <p>All the raw essentials needed for the best bone broth powder</p>
                        <p><span class="product-flavour">Beef</span> bones (92%), onions, carrots, celery, apple cider vinegar, salt, spices.</span></p>
                        <p>May contain Cashew Nuts, Wheat, Gluten.</p>

                        <div class="row text-center">
                            <div class="col-6">
                                <h5>Grass-fed beef bones (92%)</h5>
                                <img src="/img/prod/beef/bones.webp" alt="Grass-fed beef tallow">
                                <p>We use high grade grass-fed beef bones hand picked to have lots of cartilage for better nutrition. These we blanch, roast and simmer for 32 hours to extract all of the goodness.</p>            
                            </div>
                            <div class="col-6">
                                <h5>Onions, Carrots & Celery</h5>
                                <img src="/img/prod/beef/mirepo.webp" alt="Organic cold pressed olive oil">
                                <p>We found typical broth powders to be bland and tasteless, we keep the same recipe and great taste as our popular liquid broths.</p>    
                            </div>
                            <div class="col-6">
                                <h5>Apple Cider Vinegar</h5>
                                <img src="/img/prod/beef/acv.webp" alt="Organic cold pressed jojoba oil">
                                <p>Apple cider vinegar helps extract nutrients like collagen from the bones and gives the broth flavour added richness and depth.</p>
                            </div>
                            <div class="col-6">
                                <h5>Salt, Pepper & Spices</h5>
                                <img src="/img/prod/beef/spices.webp" alt="Natural essential oils">
                                <p>Further flavour to take your recipe or hot broth drink to the next level</p>
                            </div>
                        </div>

                        
                    </div>
                    <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutrition-tab">
                        <h4>Nutrition</h4>
                            <table class="nutr-table">
                                <thead>
                                    <tr>
                                        <th>Component</th>
                                        <th>Avg Quantity per Serving</th>
                                        <th>Avg Quantity per 100g</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Energy</td>
                                        <td>126 kJ<br>30 (Cal)</td>
                                        <td>1810 kJ<br>431 (Cal)</td>
                                    </tr>
                                    <tr>
                                        <td>Protein</td>
                                        <td>5 g</td>
                                        <td>72.1 g</td>
                                    </tr>
                                    <tr>
                                        <td>- Collagen</td>
                                        <td>3.4 g</td>
                                        <td>48.4 g</td>
                                    </tr>
                                    <tr>
                                        <td>Fat, total</td>
                                        <td>1.1 g</td>
                                        <td>15.6 g</td>
                                    </tr>
                                    <tr>
                                        <td>- Saturated</td>
                                        <td>0.5 g</td>
                                        <td>7.4 g</td>
                                    </tr>
                                    <tr>
                                        <td>Carbohydrate</td>
                                        <td>0 g</td>
                                        <td>0.1 g</td>
                                    </tr>
                                    <tr>
                                        <td>- Sugars</td>
                                        <td>0 g</td>
                                        <td>0 g</td>
                                    </tr>
                                    <tr>
                                        <td>Sodium</td>
                                        <td>176 mg</td>
                                        <td>2510 mg</td>
                                    </tr>
                                </tbody>
                            </table>
                                            </div>
                    <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                        <h4>Directions</h4>
                        <p>Serving size: A single serving is 2 tsp.</p>

                        <h6>How to prepare it:</h6>
                            
                        <ul>
                            <li>To drink as is - Add two tsp to a cup of hot water, stir and enjoy.</li>
                            <li>To cook with - Use in place of stock or water in your favorite recipe. Either add 2tsp to 250ml of water or add directly as powder.</li>
                        </ul>

                        <p>Keep in a cool dry place - 2 years unopened, 4 months after opening.</p>


                    </div>
                    
                    <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                        <h4>Shipping</h4>
                        <p><strong>Processing time:</strong> Your order will be confirmed within 1-3 business days after payment confirmation. After processing, your order will be shipped the next day and you can expect usual courier times to your area (generally 3-5 business days) </p>
                        <p><strong>Shipping rates:</strong> We usually charge between $4.95 and $6.95 for shipping. You can view the shipping costs at the checkout before completing your purchase.</p>
                        <p><strong>International shipping:</strong> Currently, we only offer shipping within New Zealand. We apologize for any inconvenience this may cause.</p>
                        <p>If you have any questions or concerns regarding shipping, please don't hesitate to <a href="contact.html">contact us</a>.</p>
                    </div>
                </div>
                
            </div>
                
            </div>
            
                
                </div>
        </div>
    </div>
</div>


<div class="eighty middle">
   
</div></div>
    
  </div>
  
  <div class="text-center">
    <h2>You might also like</h2>
    <div class="row justify-content-around mob-hide">
    {{- partial "prodcardtallowbundle.html" . -}}
    {{- partial "prodcardinsideout.html" . -}}
    {{- partial "prodcardpplpowder.html" . -}} 
    </div>
    <div class="mob-show">
        {{- partial "prodcardtallowbundle.html" . -}}
    </div>
    </div>

{{- partial "stripe.html" . -}}    
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const accordions = document.querySelectorAll(".accordion-minimal");

    accordions.forEach(accordion => {
        const header = accordion.querySelector(".accordion-minimal-header");

        header.addEventListener("click", function() {
            // Close all accordions
            accordions.forEach(acc => {
                if (acc !== accordion) {
                    acc.querySelector(".accordion-minimal-content").classList.remove("show");
                }
            });
            // Toggle the clicked accordion
            const content = this.nextElementSibling;
            content.classList.toggle("show");
        });
    });
});

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tabs = document.querySelectorAll('.faq-nav-tab');
        tabs.forEach(function(tab) {
            tab.addEventListener('click', function() {
                document.querySelector('.faq-nav-tab.active').classList.remove('active');
                tab.classList.add('active');
                var tabContent = document.querySelector('.faq-tab-content .tab-pane.show.active');
                tabContent.classList.remove('show', 'active');
                var target = tab.getAttribute('href');
                document.querySelector(target).classList.add('show', 'active');
            });
        });
    });
</script>


<!-- THIS IS WHERE ADD TO CART STARTS -->
<script>
    const productPricingRaw = {{ site.Data.pricing.broth.pricing | jsonify | safeJS }};
    console.log("Raw product Pricing from Hugo:", productPricingRaw);

    const productPricing = Array.isArray(productPricingRaw) ? productPricingRaw : [];
    if (!Array.isArray(productPricing)) {
        console.error("productPricing is not an array. Ensure your YAML structure and Hugo data access.");
    } else {
        console.log("Parsed product Pricing:", productPricing);
    }

    function updatePrice() {
        const size = document.getElementById("size").value.trim().toLowerCase();
        const orderType = document.getElementById("orderType").value.trim().toLowerCase();

        console.log("Selected size:", size);
        console.log("Selected order type:", orderType);

        const pricingEntry = productPricing.find(entry => entry.size.toLowerCase() === size);
        if (pricingEntry && pricingEntry.prices[orderType]) {
            const price = pricingEntry.prices[orderType];
            document.getElementById("price").textContent = `$${price.toFixed(2)}`;
        } else {
            document.getElementById("price").textContent = "N/A";
        }
    }

    // Attach event listener for changes
    document.getElementById("productForm").addEventListener("change", updatePrice);

    // Initialize the price on page load
    document.addEventListener("DOMContentLoaded", updatePrice);
</script>


<script>
    // Function to update the price ID display
    function updatePriceID() {
    const size = document.getElementById("size").value.trim().toLowerCase();
    const flavor = document.getElementById("flavor").value.trim().toLowerCase();
    const orderType = document.getElementById("orderType").value.trim().toLowerCase();
    


    // Default value for price ID
    let priceID = "N/A";

    // Debug: Check the loaded data and selected values
    console.log("Loaded Data:", productPricingRaw);
    console.log("Selected - Size:", size, "Flavor:", flavor, "Order Type:", orderType);

    // Traverse the pricing structure for the selected combination
    if (productPricingRaw && productPricingRaw.ids && productPricingRaw.ids.people) {
        const peopleData = productPricingRaw.ids.people;
        console.log("People Data:", peopleData);

        const orderTypeData = peopleData[orderType];
        console.log("Order Type Data:", orderTypeData);

        if (orderTypeData && orderTypeData[flavor]) {
            const flavorData = orderTypeData[flavor];
            console.log("Flavor Data:", flavorData);

            const sizeData = flavorData[size];
            console.log("Size Data:", sizeData);

            if (sizeData) {
                priceID = sizeData; // Assign the resolved price ID
            }
        }
    }

    // Update the DOM element with the resolved price ID
    document.getElementById("price-id").textContent = priceID !== "N/A" ? priceID : "Price ID Not Available";

    // Log final result
    console.log("Resolved Price ID:", priceID);

};
</script>
<script>
    // Parse the JSON string into an object
    const rawData = "{{ .Site.Data.pricing | jsonify }}"; // Embedded JSON string from Hugo
    const pricingData = JSON.parse(rawData); // Parse into a JavaScript object
    console.log('Parsed Pricing Data:', pricingData); // Debugging output

    function updatePriceId() {
    // Get the selected values
    const size = document.getElementById('size').value.trim().toLowerCase();
    const flavor = document.getElementById('flavor').value.trim().toLowerCase();
    const orderType = document.getElementById('orderType').value.trim().toLowerCase();

    try {
        let priceId;

        // Access the correct price ID based on the order type
        if (orderType === 'single_purchase') {
            priceId = pricingData.broth.ids.people.single[flavor][size];
        } else if (orderType === 'recurring_monthly') {
            priceId = pricingData.broth.ids.people.monthly[flavor][size];
        } else if (orderType === 'recurring_quarterly') {
            priceId = pricingData.broth.ids.people.quarterly[flavor][size];
        } else if (orderType === 'three_pack') {
            priceId = pricingData.broth.ids.people.pack[flavor][size];
        }

        console.log('Price ID:', priceId);

        // Update the DOM element with the resolved price ID, if it exists
        const priceIdElement = document.getElementById('price-id');
        if (priceIdElement) {
            priceIdElement.textContent = priceId || 'Price ID not found';
        }

        // Update the button's data-price-id attribute
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", priceId || "");
            console.log('Button updated with Price ID:', priceId);
        }
    } catch (error) {
        console.error('Error fetching Price ID:', error);

        // Clear the button's data-price-id attribute on error
        const buyNowButton = document.querySelector(".buy-now");
        if (buyNowButton) {
            buyNowButton.setAttribute("data-price-id", "");
        }
    }
}

    document.addEventListener('DOMContentLoaded', function () {
        // Add event listener for form changes
        document.getElementById('productForm').addEventListener('change', updatePriceId);

        // Trigger the update function on page load
        updatePriceId();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Convert the ids structure to a simplified format
    function preprocessproductData(rawData) {
        const simplified = {};

        // Iterate over people (or pets, if needed)
        if (rawData.ids && rawData.ids.people) {
            const categories = rawData.ids.people;

            for (const [orderType, flavors] of Object.entries(categories)) {
                for (const [flavor, sizes] of Object.entries(flavors)) {
                    for (const [size, priceId] of Object.entries(sizes)) {
                        if (!simplified[size]) {
                            simplified[size] = {};
                        }
                        if (!simplified[size][flavor]) {
                            simplified[size][flavor] = {};
                        }
                        simplified[size][flavor][orderType] = priceId;
                    }
                }
            }
        }
        return simplified;
    }

    // Example: Assume productPricingRaw is available globally or passed here
    const normalizedproductData = preprocessproductData(productPricingRaw);
    console.log('Normalized product Data:', normalizedproductData);

    // Use normalizedproductData for price ID lookups
    function getPriceID(size, flavor, orderType) {
        return (
            normalizedproductData[size]?.[flavor]?.[orderType] ||
            "Price ID not found"
        );
    }

});

</script>


<script>
    // Add to Cart Handler Function
    function handleAddToCart(event) {
    event.preventDefault();

    console.log('Add to Cart button clicked!'); // Debugging

    const button = event.target;


    // Retrieve values from the dropdowns
    const size = document.getElementById('size')?.value || 'Default Size';
// Use the text content of the selected option
const flavorSelect = document.getElementById('flavor');
const flavor = flavorSelect.options[flavorSelect.selectedIndex].textContent.trim();
// Use the text content of the selected option
const orderTypeSelect = document.getElementById('orderType');
const orderType = orderTypeSelect.options[orderTypeSelect.selectedIndex].textContent.trim();
    const unitPriceElement = document.getElementById('price');
    const unitPrice = unitPriceElement 
        ? parseFloat(unitPriceElement.textContent.replace('$', '').trim()) || 0.00
        : 0.00;

    // Retrieve the price ID
    const priceId = button.getAttribute('data-price-id') || 'N/A';
    const title = document.querySelector('h1').innerText;

    // Retrieve quantity
    const quantityField = document.getElementById('quantityAll');
    const quantity = quantityField ? parseInt(quantityField.value, 10) || 1 : 1;

    // Debugging
    console.log('Size:', size);
    console.log('Flavor:', flavor);
    console.log('Order Type:', orderType);
    console.log('Quantity:', quantity);
    console.log('Price ID:', priceId);

    // Check if price ID is valid
    if (!priceId || priceId === 'N/A') {
        alert('Please select valid options before adding to cart.');
        return;
    }

    // Add to cart
    const cart = JSON.parse(localStorage.getItem('cart')) || [];
    cart.push({
        priceId,
        title,
        size,
        flavor,
        orderType,
        quantity,
        unitPrice
    });
    localStorage.setItem('cart', JSON.stringify(cart));

    console.log('Cart updated:', cart); // Debugging

    // Trigger success modal or alert
    const modal = document.getElementById('addedToCartModal');
    if (modal) {
        $('#addedToCartModal').modal('show');
    } else {
        alert('Item added to cart successfully!');
    }
}

// Attach the event listener to the Add to Cart button
document.addEventListener('DOMContentLoaded', function () {
    const addToCartButton = document.querySelector('.buy-now');
    if (addToCartButton) {
        addToCartButton.addEventListener('click', handleAddToCart);
        console.log('Add to Cart button is ready.');
    } else {
        console.error('Add to Cart button not found!');
    }
});

</script>






<!-- Modal for Add to Cart Confirmation -->
<div class="modal fade" id="addedToCartModal" tabindex="-1" aria-labelledby="addedToCartModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addedToCartModalLabel">Item Added to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your item has been successfully added to the cart. What would you like to do next?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
                <a href="/cart" class="btn btn-primary">Go to Cart</a>
            </div>
        </div>
    </div>
</div>


<!-- THIS IS WHERE ADD TO CART ENDS -->

{{- partial "footer.html" . -}}
</body>
</html>


