{{ define "meta_tags" }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ replace (or .Language.LanguageCode "ja_JP") "-" "_" }}" />
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ .Title }}">

{{ if .Params.image }}
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}">
{{ end }}
{{ else }}
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image | absURL }}">
{{ end }}

{{- if .Description }}
<meta name="description" content="{{ .Description }}" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="twitter:description" content="{{ .Description }}" />
{{- else if .Summary }}
<meta name="description" content="{{ .Summary }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="twitter:description" content="{{ .Site.Params.description }}" />
{{- end }}

{{ end }}

{{ define "main" }}
<div class="mx-auto my-10 max-w-6xl">
  <div class="mx-3 col-span-3 lg:col-span-2 px-2">
    <h1 class="title text-5xl mb-4">{{.Title}}</h1>
    <div class="content prose md:prose-lg lg:prose-xl max-w-none py-1">{{.Content}}</div>
  </div>
</div>
<div class="row full-height blog-cta peach align-items-center text-center mb-0 p-4">
  <h2>See how bone broth is taking the internet by storm</h2>
<!-- shorts -->
{{- partial "prodcardpetpowder.html" . -}}
<div class="col-md-3 grow d-none d-md-block">
  <div class="image-container">
      <img style="border:8px solid white;transform: scale(.93);;" src="/img/dash.webp" alt="Click to watch another video" data-video-id="videoContainer2">
  </div>
  <div class="video-container" id="videoContainer2">
      <iframe style="height:530px; position:relative;top:-100px;" src="https://player.vimeo.com/video/964111619?h=c0d720cdd0&amp;autopause=0&amp;autoplay=1&amp;player_id=0&amp;app_id=58479" frameborder="0"  title="Another PrimeBroth Video" loading="lazy"></iframe>
  </div>
</div>

<div class="col-md-3 grow d-none d-md-block">
  <div class="image-container">
      <img style="border:8px solid white;" src="/img/mol.webp" alt="Click to watch another video" data-video-id="videoContainer3">
  </div>
  <div class="video-container" id="videoContainer3">
      <iframe style="height:530px; position:relative;top:-100px;" src="https://player.vimeo.com/video/968615822?&amp;autopause=0&amp;autoplay=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write;" title="Another PrimeBroth Video" loading="lazy"></iframe>
  </div>
</div>
<div class="col-md-3 grow d-none d-md-block">
  <div class="image-container">
      <img src="/img/shorts/3.webp" alt="Click to watch another video" data-video-id="videoContainer4">
  </div>
  <div class="video-container" id="videoContainer4">
      <iframe style="height:530px; position:relative;top:-100px;" src="https://www.youtube.com/embed/VDlbPPHdIaI?autoplay=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write;" title="Another PrimeBroth Video" loading="lazy"></iframe>
  </div>
</div>

</div>
{{ end }}