
    <img class="main-image"  src="/img/peoplepets.webp" alt="Main Product Image">            
    <div class="product-images mob-hide">
        <img class="product-image" src="/img/dec24/brothfront.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/petspownew.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/petsback.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/dec24/back.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/dec24/cook.webp" alt="Thumbnail 4">
        <!-- Add more thumbnail images as needed -->
    </div>
