{{- partial "analytics" . -}}
<meta charset="utf-8">
<title>{{site.Title}}{{if not .IsHome}} | {{.Title}}{{end}}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href='{{ "apple-touch-icon.png" | relURL }}'>
<link rel="icon" type="image/png" sizes="32x32" href='favicon-32x32.png'>
<link rel="icon" type="image/png" sizes="16x16" href='favicon-16x16.png'>
<link rel="manifest" href='{{ "site.webmanifest" | relURL }}'>
{{- /* Styles */}}
{{ if .Site.Params.icon.fontawesome }}
<link href='{{ "/css/fa6.min.css" | relURL }}' rel="stylesheet" type="text/css">
{{ end }}
{{ $styles := resources.Get "css/style.css" | postCSS }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
{{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}
{{ if .IsHome }}
<link rel="stylesheet" href='{{ "/css/swiper-bundle.min.css" | relURL }}'>
{{ end }}
<link href='{{ "/css/style.min.css" | relURL }}' rel="stylesheet" type="text/css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZR6LL35JPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // Google Analytics tracking ID
  gtag('config', 'G-ZR6LL35JPP');

  // Google Ads conversion tracking ID
  gtag('config', 'AW-16543078874');
</script>
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0124/4549.js" async="async" ></script>

