<script>
(function(){
  window.MARKET = 'NZ';
  window.country_code = 'NZ';
})();
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" sizes="32x32" href='favicon-32x32.png'>
<link rel="icon" type="image/png" sizes="16x16" href='favicon-16x16.png'>
<!-- Analytics deferred so they don't block checkout render -->
<link rel="preconnect" href="https://oso.nz" crossorigin>
<script defer src="https://oso.nz/t.js" data-site="PrimalPantry.co.nz"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZR6LL35JPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ZR6LL35JPP');
  gtag('config', 'AW-16543078874');
</script>
