
<div class="row">
<div class="product-images">
  <img class="product-image" src="/img/ultimate-bundle.webp" alt="ultimate tallow skincare bundle">
  <img class="product-image" src="/img/shop/eyecream3.webp" alt="ezema bundle - eye cream">
  <img class="product-image" src="/img/shop/tallowfaceandbody.webp" alt="ezema bundle - eye cream"> 
  <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/shop/ultimate-bundle.webp" alt="Main Product Image">    
</div>
        


