<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/shop/both-beforeafter.webp" alt="Thumbnail 1">
    <img class="product-image" src="/img/shop/both-child.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/shop/tallow-reviews.webp" alt="Thumbnail 3">
    <img class="product-image" src="/img/shop/uwtable.webp" alt="Thumbnail 4">

    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/shop/uwmain.webp" alt="Main Product Image">   
</div>
         
