<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/conditionerhand.webp" alt="liquid shampoo1">
    <img class="product-image" src="/img/4.webp" alt="liquid shampoo1">
     <img class="product-image" src="/img/liqshampoo-reviews.webp" alt="shampoo2">
     <img class="product-image" src="/img/nzspopular.webp" alt="shampoo2">



    

    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/haircareboth.webp" alt="Main Product Image">    
</div>
