<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/shop/pink.webp" alt="Beef tallow balm photo 1">
    <!-- <img class="product-image" src="/img/soaps-new/new-prod.webp" alt="Thumbnail 2"> -->
    <img class="product-image" src="/img/shop/deod3.webp" alt="Beef tallow deo">
    <img class="product-image" src="/img/shop/both-child.webp" alt="Thumbnail baby"> 
 <img class="product-image" src="/img/sensitive-stack-lip.webp" alt="Beef tallow lipbalm">

   <!-- temp <img class="product-image" src="/img/shop/lip2.webp" alt="Beef tallow lipbalm">
-->
    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/shop/stack1.webp" alt="Main Product Image">    
</div>
        



