<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/shop/soapshop.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/soap-reviews.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps/tallow-soap-range-productpage.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/shop/soap2.webp" alt="Thumbnail 2">
    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/soaps/tallow-soap-product-images.webp" alt="Main Product Image">   
</div>
         


