<div class="row">            
<div class="product-images">
    <img class="product-image" src="/img/lip-balm-images2.webp" alt="Thumbnail 2">
            <img class="product-image" src="/img/lip-reviews.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/lip-balm-images4.webp" alt="Thumbnail 2">

<!-- temp
    <img class="product-image" src="/img/shop/lip1.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/shop/lip2.webp" alt="Thumbnail 2">
    Add more thumbnail images as needed -->
</div>
<img class="main-image" fetchpriority=“high” src="/img/lip-balm-images2.webp" alt="Main Product Image">
<p style="text-align:center"><span class="attention-primalcare">Get 50% more lip balm for the same price!</span> <br>Due to supply issues, this month we're supplying in larger tubs!</p>

</div>
