<img class="main-image"  src="/img/sensitive.webp" alt="Main Product Image">            
<div class="product-images">
    <img class="product-image" src="/img/35.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps-new/new-prod.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/shampoo/1.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/sunscreen/main.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/whipped.webp" alt="Beef tallow balm photo 3">

    <!-- Add more thumbnail images as needed -->
</div>


