
<div class="row">
<div class="product-images">
  <img class="product-image" src="/img/ultimate-bundle.webp" alt="ultimate tallow skincare bundle">
  <img class="product-image" src="/img/eyebox.webp" alt="ezema bundle - eye cream">
    <img class="product-image" src="/img/liquid-prod.webp" alt="ezema bundle - eye cream"> 
    <img class="product-image" src="/img/shop/tallowfaceandbody.webp" alt="ezema bundle - eye cream"> 

  <!-- Add more thumbnail images as needed -->
</div>
<div style="position:relative;overflow:hidden;border-radius:12px;"><img class="main-image"  src="/img/ultimate-bundle.webp" alt="Main Product Image">{{- partial "eanz-badge.html" . -}}</div>    
</div>


