<img class="main-image"  src="/img/product-balmunwhip.webp" alt="Beef tallow balm photo 1">            
    <div class="product-images">
        <img class="product-image" src="/img/balmunwhip.webp" alt="Beef tallow balm photo 3">
        <img class="product-image" src="/img/babywithtallow.webp" alt="Beef tallow balm photo 4">
        <img class="product-image" src="/img/dec24/balmtriotable.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/dec24/balmsizes.webp" alt="Beef tallow balm photo 2">
        <!-- Add more thumbnail images as needed -->


    </div>

