<div class="row">
<div class="product-images">
  <img class="product-image" src="/img/noea-cond.webp" alt="serum">
   <img class="product-image" src="/img/conditionerhand.webp" alt="serum2">
     <img class="product-image" src="/img/nzspopular.webp" alt="serum2">

  
    <!-- Add more thumbnail images as needed -->
</div>
<div style="position:relative;overflow:hidden;border-radius:12px;"><img class="main-image" fetchpriority=“high” src="/img/noea-cond.webp" alt="Main Product Image">{{- partial "eanz-badge.html" . -}}</div>    
</div>
