<img class="main-image"  src="/img/prod/mushroomchips/1.webp" alt="Main Product Image">            
<div class="product-images">
    <img class="product-image" src="/img/prod/mushroomchips/1.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/mushroomchips/2.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/mushroomchips/3.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/mushroomchips/4.webp" alt="Thumbnail 4">
    <!-- Add more thumbnail images as needed -->
</div>