<div class="row">
<div class="product-images">

    <img class="product-image" src="/img/handsoap-prod.webp" alt="Thumbnail 2">
                        <img class="product-image" src="/img/liquidsoap/tallow-liquid-soap-product-benifits.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/liquidsoap/tallow-liquid-soap.webp" alt="Thumbnail 2">



    
    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/handsoap-prod.webp" alt="Main Product Image"> 
</div>           
