<img class="main-image"  src="/img/soaps-new/new-prod.webp" alt="Main Product Image">            
<div class="product-images">
    <img class="product-image" src="/img/soaps-new/new-prod.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps-new/1.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps-new/2.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps-new/3.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/soaps-new/4.webp" alt="Thumbnail 4">
    <!-- Add more thumbnail images as needed -->
</div>