<div class="row">  
        <img class="main-image" fetchpriority="high" src="/img/shampoobar/shampoo-bar.webp" alt="Tallow shampoo bar main photo"> 

    <div class="product-images">
        <img class="product-image" src="/img/shampoobar/shampoo-bar.webp" alt="Tallow shampoo bar photo 1">
        <img class="product-image" src="/img/shampoobar/tallow-shampoo-bar-product-benifitswebp.webp" alt="Tallow shampoo bar photo 2">
        <img class="product-image" src="/img/shampoo-hands.webp" alt="Tallow shampoo bar photo 3">
        <img class="product-image" src="/img/shampoo-shop.webp" alt="Tallow shampoo bar photo 4">
        <!-- Add more thumbnail images as needed -->
    </div>
</div>
