<div class="row">
<div class="product-images">
  <img class="product-image" src="/img/noea-shampliq.webp" alt="liquid shampoo1">
   <img class="product-image" src="/img/shampoohand.webp" alt="shampoo2">
       <img class="product-image" src="/img/liqshampoo-reviews.webp" alt="shampoo2">
   <img class="product-image" src="/img/nzspopular.webp" alt="shampoo2">
  
    <!-- Add more thumbnail images as needed -->
</div>
<div style="position:relative;overflow:hidden;border-radius:12px;"><img class="main-image"  src="/img/noea-shampliq.webp" alt="Main Product Image">{{- partial "eanz-badge.html" . -}}</div>    
</div>
