<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/shop/deod4.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/shop/deod2.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/shop/deod3.webp" alt="Thumbnail 3">
        <img class="product-image" src="/img/deod-reviews.webp" alt="Thumbnail 3">

    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image" fetchpriority=“high” src="/img/shop/deod4.webp" alt="Main Product Image"> 
</div>           
