<div class="row">
<div class="product-images">
    <img class="product-image" src="/img/dish.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/dish1.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/dish2.webp" alt="Thumbnail 2">


        <img class="product-image" src="/img/dish3.webp" alt="Thumbnail 2">



    <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image" fetchpriority=“high” src="/img/dish.webp" alt="Main Product Image"> 
</div>           
