<img class="main-image"  src="/img/skinstack.webp" alt="Main Product Image">            
<div class="product-images">
    <img class="product-image" src="/img/dec24/product-bigbalm-new.webp" alt="Beef tallow balm photo 3">
    <img class="product-image" src="/img/soaps-new/new-prod.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/shampoo/1.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/prod/deodorant/1.webp" alt="Beef tallow balm photo 3">
    <img class="product-image" src="/img/prod/lipbalm/1.webp" alt="Beef tallow balm photo 3">

    <!-- Add more thumbnail images as needed -->
</div>


