<img class="main-image"  src="/img/talbro.webp" alt="Main Product Image">            
<div class="product-images mob-hide">
    <img class="product-image"  src="/img/sq3.webp" alt="Beef tallow balm photo 1">            
    <img class="product-image" src="/img/powderbeef50crop.webp" alt="Thumbnail 1">
    <img class="product-image" src="/img/powderbeef50back.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/tal5.webp" alt="Beef tallow balm photo 2">
    <img class="product-image" src="/img/tal4.webp" alt="Beef tallow balm photo 4">
    <!-- Add more thumbnail images as needed -->
</div>