<img class="main-image"  src="/img/dec24/product-insideoutsmall.webp" alt="Main Product Image">            
<div class="product-images">
    <img class="product-image"  src="/img/dec24/insideoutlarge.webp" alt="Main Product Image">            
    <img class="product-image" src="/img/dec24/brothfront.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/dec24/back.webp" alt="Thumbnail 2">
    <img class="product-image" src="/img/dec24/balmtriotable.webp" alt="Beef tallow balm photo 2">
    <!-- Add more thumbnail images as needed -->
</div>