
    <img class="main-image"  src="/img/petspownew.webp" alt="Main Product Image">            
    <div class="product-images">
        <img class="product-image" src="/img/petsback.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/powdersprinkle.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/fussyted.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/all-sizes.webp" alt="Thumbnail 1">

        <!-- Add more thumbnail images as needed -->
    </div>

     