
    <img class="main-image"  src="/img/post-a-1.webp" alt="Main Product Image">            
    <div class="product-images mob-hide">
        <img class="product-image" src="/img/bonebroth7.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/billie.webp" alt="Thumbnail 3">
        <img class="product-image" src="/img/50top.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/bonebroth5.webp" alt="Thumbnail 4">
        <!-- Add more thumbnail images as needed -->
    </div>

    