
    <img class="main-image"  src="/img/post-a-1.webp" alt="Main Product Image">            
    <div class="product-images mob-hide">
        <img class="product-image" src="/img/pink-duo-close-sq.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/back-sq-single.webp" alt="Thumbnail 1">
        <img class="product-image" src="/img/bonebroth5.webp" alt="Thumbnail 4">
        <img class="product-image" src="/img/powder2.webp" alt="Thumbnail 2">
        <img class="product-image" src="/img/powder4.webp" alt="Thumbnail 2">
        <!-- Add more thumbnail images as needed -->
    </div>

    