<!-- Pet multi product card -->
<div class="product-card grow col-lg-3 col-sm-12" data-category="bone-broth"><a href="/shop/products/pets-powder">
    <p class="stamp">Trending</p>
    <img src="/img/pinkcurve.webp" alt="">
    <div class="product-details">
      <p>{{- partial "price-pet-powder-50g.html" . -}}</p>
      <h6>Pets Bone Broth Powder</h6>
      <img class="stars" src="/img/stars/5.webp" alt="review rating for chicken bone broth product">
      <p>(18)</p>
    </div>
  </a>
  </div>


  