<!-- Pet single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4 " data-category="skincare" id="prodcard-lipbalm">
  <a href="/shop/products/tallow-lip-balm">
    <div class="product-card-inner">
        <img src="/img/lip-balm-images1.webp" alt="lip balm" class="d-block m-auto" max-height="400">
        <div class="product-details">
          <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.lipbalm 0 }}
            {{ with .prices.NZ }}
                ${{ .single_purchase }}
            {{ end }}
        {{ end }}
        </span>
        <span class="au-content" style="display:none;">
            {{ with index site.Data.pricing.tallow.pricing.lipbalm 0 }}
            {{ with .prices.AU }}
              ${{ .single_purchase }}
            {{ end }}
        {{ end }}
        </span></p>
        <p class="h5 fw-bold">Tallow Lip Balm</h6>
        <p>15,000+ kiwis</p>
      </div>
    </div>
  </a>
</div>








