
<!-- Pet single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="oats food" id="colloidal_oat">
    <a href="/shop/products/colloidal-oat-bath-soak">
        <div class="product-card-inner">
  <p class="stamp">New</p>
  <img src="/img/colloidal_oat1.webp" alt="colloidal oat" class="d-block m-auto" max-height="400">
  <div class="product-details">
    <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.colloidal_oat 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.colloidal_oat 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <p class="h5 fw-bold">Colloidal oat bath soak</p>
    <p>New</p>

  </div>
  </div>
</a>
</div>
