<!-- summer balm single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="summerbalm">
    <a href="/shop/products/tallow-summerbalm">
        <div class="product-card-inner">
      <p class="stamp">Online Exclusive</p>
            <img src="/img/summer1.webp" alt="tallow summer balm" class="d-block m-auto" max-height="400">
            <div class="product-details">
                <p class="h5">From 
                    <span class="nz-content" style="display:inline;">
                        {{ with index site.Data.pricing.tallow.pricing.summer_balm 0 }}
                            {{ with .prices.NZ }}
                                ${{ .single_purchase }}
                            {{ end }}
                        {{ end }}
                    </span>
                    <span class="au-content" style="display:none;">
                        {{ with index site.Data.pricing.tallow.pricing.summer_balm 0 }}
                            {{ with .prices.AU }}
                                ${{ .single_purchase }}
                            {{ end }}
                        {{ end }}
                    </span>
                </p>
                <p class="h5 fw-bold">Tallow + Zinc Summer Balm</p>
                <p>700+ Kiwis</p>
            </div>
        </div>
    </a>
</div>
