<!-- Day n Night Duo single product card -->

<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="prodcarddaynnight"><a href="/shop/products/tallow-day-n-night-duo">

  <div class="product-card-inner">

          <p class="stamp">Limited Edition</p>

  <img src="/img/limited-shop.webp" alt="" max-height="400">

  <div class="product-details">

    <p class="h5">$29.95</p>

    <p class="h5 fw-bold">Tallow Day n Night Balms</p>

    <p>Limited Edition!</p>

  </div>

  </div>

</a>

</div>
