<div class="product-card grow col-xxl-3 col-lg-4 col-md-4 " data-category="tallow" id="prodcard-liquid-lotion">
  <a href="/shop/products/tallow-lotion">
    <div class="product-card-inner">
      <p class="stamp">SALE NOW ON</p>
        <img src="/img/lotion-shop.webp" alt="honey balm" class="d-block m-auto" max-height="400">
        <div class="product-details">
          <p class="h5"><span class="nz-content attention-primalcare" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.liquid_lotion 0 }}
            {{ with .prices.NZ }}
                ${{ .single_purchase }}
            {{ end }}
        {{ end }}
        </span>
        <span class="au-content" style="display:none;">
            {{ with index site.Data.pricing.tallow.pricing.liquid_lotion 0 }}
            {{ with .prices.AU }}
              ${{ .single_purchase }}
            {{ end }}
        {{ end }}
        </span></p>
        <p class="h5 fw-bold">Aloe Tallow Body Lotion</h6>
       <p><span class="attention-primalcare">BLACK FRIDAY SAVE 20%</span></p>
      </div>
    </div>
  </a>
</div>
