
<!-- Pet single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="eyecream">
    <a href="/shop/products/tallow-eye-cream">
        <div class="product-card-inner">
  <p class="stamp">SPECIAL DEAL</p>
  <img src="/img/shop/eyecream.webp" alt="eye cream" class="d-block m-auto" max-height="400">
  <div class="product-details">
    <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.eyecream 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span><span class="attention-primalcare"> (save 20%)</span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.eyecream 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </p>
    </span><p class="h5 fw-bold">Tallow Eye Cream</p>
    <p>8,000+ Kiwis</p>

  </div>
  </div>
</a>
</div>
 
