<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="prodcardwrinkles">
   <a href="/tallow-for-wrinkles/">
      <div class="product-card-inner">
               <p class="stamp">Online Exclusive</p>
        <img src="/img/wrinkleskinnew.webp" alt="shampoo" class="d-block m-auto" max-height="400">
        <div class="product-details">
          <p class="h5">$103.84
            </span>

            <span class="au-content" style="display:none;">
               $103.84
            </span><span class="special" id="special">This is 20% off</p>
          <p class="h5 fw-bold">Tallow Anti-aging Kit</p>
          <p>NEW</p>
        </div>
      </div>
    </a>
</div>


