<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="eyecream" id="eyecream">
    <a href="/shop/products/ultimate-bundle">
        <div class="product-card-inner">
  <p class="stamp">Great for Gifts!</p>
  <img src="/img/ultimate-bundle.webp" alt="ultimate bundle" class="d-block m-auto" max-height="400">
  <div class="product-details">
   <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.bundles.pricing.ultimate_bundle 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.bundles.pricing.ultimate_bundle 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <p class="h5 fw-bold">Ultimate Tallow Bundle</p>
    <p>NEW PRODUCTS</p>

  </div>
  </div>
</a>
</div>
