<!-- Soap single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4 col-sm-6" data-category="tallow" id="prodcardtallowsunscreenbalm"><a href="/shop/products/tallow-sunscreen-balm">
  <p class="stamp">New</p>
  <img src="/img/sunscreen/main.webp" alt="">
  <div class="product-details">
    <p><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.sunscreen 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.sunscreen 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <h6>Tallow Sunbalm</h6>
    <p>400+ kiwis</p>

  </div>
</a>
</div>