<!-- Serum single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="haircare" id="prodcardscalpbundle"><a href="/shop/products/scalp-health-bundle">
  <div class="product-card-inner">

  <img src="/img/scalpbundle-shop.webp" alt="" max-height="400">
  <div class="product-details">
    <p class="h5 attention-primalcare"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.scalpbundle 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.scalpbundle 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span><span class="special" id="special">20% off!</p></p>
    <p class="h5 fw-bold">Scalp Health Bundle - Shampoo & Conditioner</p>
    <p>Brand New - Launch deal!</p>

  </div>
  </div>
</a>
</div>
