<!-- Tallow skin product card -->
<div class="product-card grow left col-lg-3 col-sm-6" data-category="tallow">
  <a href="/shop/products/tallow-skin">
    <img src="/img/whip.webp" alt="Beef Tallow for Skincare">
    <div class="product-details">
      <!-- Price partial inclusion -->
      <p>{{- partial "price-tallow-skin-50.html" . -}}</p>
      <h6>Tallow Balm - Whipped</h6>
      <img class="float-left stars mt-1 mr-2" src="/img/stars/5.webp" alt=""><p>100+ kiwis</p>

    </div>
  </a>
</div>

