
<!-- Pet single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="eyecream">
    <a href="/shop/products/eczema-bundle">
        <div class="product-card-inner">
  <img src="/img/shop/EANZ-bundle.webp" alt="eanz bundle" class="d-block m-auto" max-height="400">
  <div class="product-details">
    <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.bundles.pricing.eczema_bundle 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.bundles.pricing.eczema_bundle 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <p class="h5 fw-bold">Eczema Bundle</p>
    <p>New</p>

  </div>
  </div>
</a>
</div>
