<!-- Pet single product card -->
<div class="product-card grow col-lg-3 outOfStock col-md-4 col-sm-6" data-category="bone-broth bundles pets" id="prodcardbrothbundle"><a href="/shop/products/broth-bundle">
  <p class="stamp">Selling fast</p>
  <img src="/img/peoplepets.webp" alt="">
  <div class="product-details">
    <p><!-- <span class="attention-primalcare">$15</span> <span class=" small text-decoration-line-through">$22.95</span> -->
      <span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.bundles.pricing.broth_bundle 1 }}
          {{ with .prices.NZ }}
              ${{ .single_purchase }}
          {{ end }}
      {{ end }}
      </span>
      <span class="au-content" style="display:none;">
          {{ with index site.Data.pricing.bundles.pricing.broth_bundle 1 }}
          {{ with .prices.AU }}
             ${{ .single_purchase }}
          {{ end }}
      {{ end }}
      </span></p>
    <h6>People & Pets Bundle</h6>
    <img class="float-left stars mt-1 mr-2" src="/img/stars/5.webp" alt=""><p>1000+ kiwis</p>

  </div>
</a>
</div> 