<!-- Tallow skin product card -->
<div class="product-card grow left col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="prodcardtallowskin">
  <a href="/shop/products/tallow-skin">
    <div class="product-card-inner">
          <p class="stamp">Best Seller</p>
      <img src="/img/tallow-skin-prodcard.webp" max-height="400" class="d-block m-auto" alt="Beef Tallow for Skincare">
      <div class="product-details">
        <!-- Price partial inclusion -->
        <p class="h5">From <span class="nz-content" style="display:inline;">
          {{ with index site.Data.pricing.tallow.pricing.balm 0 }}
          {{ with .prices.NZ }}
              ${{ .single_purchase }}  
          {{ end }}
          {{ end }}
          <!-- {{ with index site.Data.pricing.tallow.discount_from.balm 0 }}
              {{ with .prices.NZ }}
          <span class=" small text-decoration-line-through">${{ .single_purchase }}</span>
          {{ end }}
          {{ end }}
          -->
          </span>
          <span class="au-content" style="display:none;">
              {{ with index site.Data.pricing.tallow.pricing.balm 0 }}
              {{ with .prices.AU }}
                  From ${{ .single_purchase }}
                  {{ end }}
                  {{ end }}
              <!-- {{ with index site.Data.pricing.tallow.discount_from.balm 0 }}
                  {{ with .prices.AU }}
              <span class=" small text-decoration-line-through">${{ .single_purchase }}</span>
            {{ end }}
            {{ end }} -->
          </span></p>
        

        <p class="h5 fw-bold">Tallow Balm - Whipped</p>
        <p>20,000+ kiwis</p>
      </div>
    </div>
  </a>
</div>

