<!-- Soap single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="prodcardtallowsoapmixed"><a href="/shop/products/tallow-soap-mixed">
  <img src="/img/soaps-new/mixed-prod.webp" alt="">
  <div class="product-details">
    <p><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.soap 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.soap 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <h6>Tallow Soap Mixed Sampler</h6>
    <p>2,000+ kiwis</p>

  </div>
</a>
</div>
