<!-- Pet single product card -->
<div class="product-card grow col-lg-3 col-sm-6" data-category="bone-broth" id="prodcardpplpowderchicken"><a href="/shop/products/broth-powder-chicken">
  <p class="stamp">Trending</p>
  <img src="/img/prod/chicken/1.webp" alt="">
  <div class="product-details">
    <p><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.broth.pricing 1 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.broth.pricing 1 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <h6>Chicken bone broth powder</h6>
    <p>NEW</p>

  </div>
</a>
</div>