<!-- Powder product card with waitlist overlay -->
<div class="product-card-waitlist product-card grow col-md-3 col-xs-6" data-category="bone-broth" data-coming-soon="true">
      <img src="/img/powcurve.webp" alt="">
      <div class="product-details">
          <p>{{- partial "price-ppl-powder-90g.html" . -}}</p>
          <h6>Bone broth powder for people<br>Coming soon</h6>
      </div>
  <div class="waitlist-overlay">
    <form id="waitlist-form" action="https://docs.google.com/forms/d/e/1FAIpQLScaHCnkhfVAStnaxej1XT9Advj6OASjflZChXP-YN5bow5GbA/formResponse" onsubmit="submitWaitlistForm(event)">          <p>Coming soon - be the first to hear when it's available</p>
          <input type="email" name="entry.1539663871" placeholder="Enter your email" required>
          <input type="hidden" name="entry.432251910" value="Bone broth powder for people">
          <button type="submit" class="btn btn-secondary">Join the waitlist</button>
      </form>
  </div>
</div>
<script>
  function submitWaitlistForm(event) {
    event.preventDefault(); // Prevent the default form submission

    const form = event.target;
    const formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        body: formData,
        mode: 'no-cors', // Ensure no CORS errors occur
    }).then(() => {
        alert("You're added to the waitlist");
        form.reset(); // Reset the form fields
    }).catch(error => {
        console.error('Error:', error);
    });
}


</script>