<!-- Tallow skin product card -->
<div class="product-card grow left col-lg-3 col-sm-6" data-category="tallow" id="prodcardtallowskin">
  <a href="/shop/products/tallow-skin">
    <img src="/img/dec24/product-bigbalm-new.webp" alt="Beef Tallow for Skincare">
    <div class="product-details">
      <!-- Price partial inclusion -->
      <p>{{- partial "price-tallow-skin-120.html" . -}} <span class="special">35% off</span></p>

      <p class="h6 fw-bold">Tallow Balm - Whipped</p>
      <img class="float-left stars mt-1 mr-2" src="/img/stars/5.webp" alt=""><p>11000+ kiwis</p>

    </div>
  </a>
</div>

