<!-- Serum single product card -->
<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="haircare" id="prodcardtallowshampoo"><a href="/shop/products/tallow-liquid-shampoo">
  <div class="product-card-inner">

  <img src="/img/scalp-shop.webp" alt="" max-height="400">
  <div class="product-details">
    <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.scalpbundle 0 }}
      {{ with .prices.NZ }}
          ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span>
  <span class="au-content" style="display:none;">
      {{ with index site.Data.pricing.tallow.pricing.scalpbundle 0 }}
      {{ with .prices.AU }}
         ${{ .single_purchase }}
      {{ end }}
  {{ end }}
  </span></p>
    <p class="h5 fw-bold">Tallow Shampoo 500ml</p>
    <p>New Product!</p>

  </div>
  </div>
</a>
</div>
