<!-- Beef product card -->
<div class="product-card grow col-lg-3 col-sm-6" data-category="bone-broth bundles"><a href="/shop/products/broth-bundle">
  <a href="/shop/products/beef">

  <img src="/img/beef.webp" class="notstocked" alt="">
  <div class="product-details">
    <p>{{- partial "price-people-liquid-6pk.html" . -}}</p>
    <h6>Beef Bone Broth For Humans 6pk</h6>
    <img class="float-left fifty-lg-lg mt-1 mr-2" src="/img/stars/5.webp" alt=""><p>1000+ kiwis</p>
  </div>
</a>
</div>




