<div class="product-card grow col-xxl-3 col-lg-4 col-md-4" data-category="skincare" id="prodcardshampoo">
   <a href="/shop/products/manuka-honey-soap/">
      <div class="product-card-inner">
      <p class="stamp">Online Exclusive</p>
        <img src="/img/shop/honey_soap1.webp" alt="shampoo" class="d-block m-auto" max-height="400">
        <div class="product-details">
          <p class="h5"><span class="nz-content" style="display:inline;">{{ with index site.Data.pricing.tallow.pricing.manuka_soap 0 }}
                {{ with .prices.NZ }}
                    ${{ .single_purchase }}
                {{ end }}
            {{ end }}
            </span>
            <span class="au-content" style="display:none;">
                {{ with index site.Data.pricing.tallow.pricing.manuka_soap 0 }}
                {{ with .prices.AU }}
                  ${{ .single_purchase }}
                {{ end }}
            {{ end }}
            </span></p>
          <p class="h5 fw-bold">Manuka Honey Soap</p>
          <p>New</p>
        </div>
      </div>
    </a>
</div>
