<script src="https://js.stripe.com/v3/"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Store pgurl and charity in localStorage
        const pgurl = '{{ .Params.pgurl }}';
        const charity = '{{ .Params.charity }}';
        localStorage.setItem('pgurl', pgurl);
        localStorage.setItem('charity', charity);
        console.log('pgurl stored:', pgurl);  // Debugging line
        console.log('charity stored:', charity);  // Debugging line

        // Update flavor text and price IDs based on flavour dropdown selection
        document.getElementById('productFlavour').addEventListener('change', function() {
            var flavour = this.value;
            var selectedOption = this.options[this.selectedIndex];
            var priceSmall = selectedOption.getAttribute('data-flavour-price-small');
            var priceMedium = selectedOption.getAttribute('data-flavour-price-medium');
            var priceLarge = selectedOption.getAttribute('data-flavour-price-large');
            
            document.querySelectorAll('.product-flavour').forEach(function(span) {
                span.textContent = flavour.charAt(0).toUpperCase() + flavour.slice(1);
            });

            document.querySelector('#productsmall .buy-now').setAttribute('data-price-id', priceSmall);
            document.querySelector('#productmedium .buy-now').setAttribute('data-price-id', priceMedium);
            document.querySelector('#productlarge .buy-now').setAttribute('data-price-id', priceLarge);
        });

        // Toggle visibility of product sections and update image based on size dropdown selection
        document.getElementById('productSize').addEventListener('change', function() {
            const selectedSize = this.value;
            ['small', 'medium', 'large'].forEach(size => {
                const isSizeSelected = selectedSize === size;
                document.getElementById('product' + size).classList.toggle('hidden', !isSizeSelected);
                document.getElementById('pricePartial' + size.charAt(0).toUpperCase() + size.slice(1)).classList.toggle('hidden', !isSizeSelected);
            });
            
            // Update main image based on selected size
            const selectedOption = this.options[this.selectedIndex];
            const imageSrc = selectedOption.getAttribute('data-image');
            document.querySelector('.main-image').src = imageSrc;
        });

        // Handle image to video transition on click
        document.querySelectorAll('.image-container img').forEach(function(image) {
            image.addEventListener('click', function() {
                // Hide the image container
                this.parentElement.style.display = 'none';
                // Show the corresponding video container
                var videoId = this.getAttribute('data-video-id');
                document.getElementById(videoId).style.display = 'block';
            });
        });

        const stripe = Stripe('pk_live_51Ot2iTABkrUo6tgOu44jd79tB4Dg2B64I6lucmLcKdxZfcy2Dy3bTnbxQNiwDtRfeWSwWx1WsDpC0h91tTlubPXW000IuWtQTX'); // Replace with your actual publishable key

        function createCheckoutSession(priceId, quantity) {
            return fetch('/.netlify/functions/create-checkout-session', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    priceId: priceId,
                    quantity: quantity
                })
            }).then(function (response) {
                return response.json();
            }).catch(function (error) {
                console.error('Error fetching checkout session:', error);
                throw error;
            });
        }

        function handleCheckout(priceId, quantity) {
            createCheckoutSession(priceId, quantity).then(function (data) {
                if (data.sessionId) {
                    return stripe.redirectToCheckout({ sessionId: data.sessionId });
                } else {
                    console.error('No sessionId returned:', data);
                    alert('Failed to create checkout session. Please try again.');
                }
            }).catch(function (error) {
                console.error('Error creating checkout session:', error);
                alert('Failed to create checkout session. Please try again.');
            });
        }

        document.querySelectorAll('.buy-now').forEach(function(button) {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                const priceId = button.getAttribute('data-price-id');
                const quantityId = button.getAttribute('data-quantity-id');
                const quantity = document.getElementById(quantityId).value;
                handleCheckout(priceId, quantity);
            });
        });
    });
</script>

{{ if .Params.wipe }}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          localStorage.removeItem('pgurl');
          localStorage.removeItem('charity');
      });
    </script>
{{ end }}
