<script src="https://js.stripe.com/v3/"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const stripe = Stripe('pk_live_51Ot2iTABkrUo6tgOu44jd79tB4Dg2B64I6lucmLcKdxZfcy2Dy3bTnbxQNiwDtRfeWSwWx1WsDpC0h91tTlubPXW000IuWtQTX'); // Replace with your actual publishable key

    // Store page data in localStorage
    storePageData();

    // Set up event listeners for dropdowns
    document.getElementById('productFlavour').addEventListener('change', updateFlavor);
    document.getElementById('productSize').addEventListener('change', updateProductSize);

    // Delegate event for handling buy now button clicks to the document
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('buy-now')) {
            handleBuyNowClick(event);
        }
    });

    function storePageData() {
        const pgurl = '{{ .Params.pgurl }}';
        const charity = '{{ .Params.charity }}';
        localStorage.setItem('pgurl', pgurl);
        localStorage.setItem('charity', charity);
    }

    function updateFlavor() {
        var flavour = this.value;
        var selectedOption = this.options[this.selectedIndex];
        updatePriceIDs(flavour, selectedOption);
    }

    function updatePriceIDs(flavour, selectedOption) {
        var priceSmall = selectedOption.getAttribute('data-flavour-price-small');
        var priceMedium = selectedOption.getAttribute('data-flavour-price-medium');
        var priceLarge = selectedOption.getAttribute('data-flavour-price-large');

        document.querySelectorAll('.product-flavour').forEach(span => span.textContent = capitalize(flavour));
        document.querySelector('#productsmall .buy-now').setAttribute('data-price-id', priceSmall);
        document.querySelector('#productmedium .buy-now').setAttribute('data-price-id', priceMedium);
        document.querySelector('#productlarge .buy-now').setAttribute('data-price-id', priceLarge);
    }

    function updateProductSize() {
        const selectedSize = this.value;
        ['small', 'medium', 'large'].forEach(size => {
            const isSelected = selectedSize === size;
            document.getElementById('product' + size).classList.toggle('hidden', !isSelected);
            document.getElementById('pricePartial' + capitalize(size)).classList.toggle('hidden', !isSelected);
        });
    }

    function handleBuyNowClick(e) {
        e.preventDefault();
        const button = e.target;
        const priceId = button.getAttribute('data-price-id');
        const quantityId = 'quantityAll'; // All buttons reference the same quantity ID
        const quantity = document.getElementById(quantityId).value;
        handleCheckout(priceId, quantity);
    }

    function handleCheckout(priceId, quantity) {
        createCheckoutSession(priceId, quantity).then(data => {
            if (data.sessionId) {
                stripe.redirectToCheckout({ sessionId: data.sessionId });
            } else {
                console.error('No sessionId returned:', data);
                alert('Failed to create checkout session. Please try again.');
            }
        }).catch(error => {
            console.error('Error creating checkout session:', error);
            alert('Failed to create checkout session. Please try again.');
        });
    }

    function createCheckoutSession(priceId, quantity) {
        return fetch('/.netlify/functions/create-checkout-session', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ priceId, quantity })
        }).then(response => response.json())
        .catch(error => {
            console.error('Error fetching checkout session:', error);
            throw error;
        });
    }

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }
});
</script>

{{ if .Params.wipe }}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          localStorage.removeItem('pgurl');
          localStorage.removeItem('charity');
      });
    </script>
{{ end }}
