<div class="row">           
    <div class="product-images">
        <img class="product-image" src="/img/shop/both-beforeafter.webp" alt="Beef tallow balm photo 1">
        <img class="product-image" src="/img/shop/both-child.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/shop/tallow-reviews.webp" alt="Beef tallow balm photo 3">
        <img class="product-image" src="/img/shop/ogbalmlast.png" alt="Beef tallow balm photo 4">
        <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/tallow-main.webp" alt="Beef tallow balm photo 1"> 
    </div>

