<img class="main-image"  src="/img/balmlabel.webp" alt="Beef tallow balm photo 1">            
    <div class="product-images mob-hide">
        <img class="product-image" src="/img/tallowskin.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/tallow-balm.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/tallow-balm-hedge.webp" alt="Beef tallow balm photo 3">
        <img class="product-image" src="/img/tallow-balm.webp" alt="Beef tallow balm photo 4">
        <!-- Add more thumbnail images as needed -->
    </div>
