<div class="row">           
    <div class="product-images">
        <img class="product-image" src="/img/shop/both-beforeafter.webp" alt="honey tallow balm photo 2">
        <img class="product-image" src="/img/shop/both-child.webp" alt="honey tallow balm photo 3">
        <img class="product-image" src="/img/shop/honey-reviews.webp" alt="honey tallow balm photo 4">
           <img class="product-image" src="/img/shop/honeyjars.webp" alt="honey tallow balm photo 5">
        <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/honey-main.webp" alt="honey tallow balm photo 1"> 
    </div>

