<img class="main-image"  src="/img/dec24/product-balmbig.webp" alt="Beef tallow balm photo 1">            
    <div class="product-images mob-hide">
        <img class="product-image" src="/img/sq2.webp" alt="Beef tallow balm photo 3">
        <img class="product-image" src="/img/dec24/balmtriotable.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/tallow-balm-hedge.webp" alt="Beef tallow balm photo 3">
        <img class="product-image" src="/img/dec24/balmsizes.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/dec24/triotable.webp" alt="Beef tallow balm photo 4">
        <!-- Add more thumbnail images as needed -->
    </div>

