<div class="row">           
    <div class="product-images">
        <img class="product-image" src="/img/shop/honey3.webp" alt="Beef tallow balm photo 4">
        <img class="product-image" src="/img/shop/baby.webp" alt="Beef tallow balm photo 2">
        <img class="product-image" src="/img/shop/trixy.webp" alt="Beef tallow balm photo 3">
        <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/shop/honeyjars.webp" alt="Beef tallow balm photo 1"> 
    </div>

