<div class="row">           
    <div class="product-images">
        <img class="product-image" src="/img/eyec.webp" alt="tallow eye cream photo 1">
        <img class="product-image" src="/img/shop/both-beforeafter.webp" alt="honey tallow balm photo 2">
                <img class="product-image" src="/img/eyebox.webp" alt="tallow eye cream photo 2">
        <img class="product-image" src="/img/shop/eyecream1.webp" alt="tallow eye cream photo 3">

        <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/eyec.webp" alt="tallow eye cream photo 1"> 
    </div>

