<img class="main-image"  src="/img/tallowtrio.webp" alt="Main Product Image">            
<div class="product-images mob-hide">
    <img class="product-image" src="/img/sq2.webp" alt="Beef tallow balm photo 3">
    <img class="product-image" src="/img/tal5.webp" alt="Beef tallow balm photo 2">
    <img class="product-image" src="/img/tallow-balm-hedge.webp" alt="Beef tallow balm photo 3">
    <img class="product-image" src="/img/sq1.webp" alt="Beef tallow balm photo 2">
    <img class="product-image" src="/img/tal4.webp" alt="Beef tallow balm photo 4">
    <!-- Add more thumbnail images as needed -->
</div>