<div class="row">           
    <div class="product-images">
        <img class="product-image" src="/img/shop/honeyjars.webp" alt=" tallow honey balm photo 1">
        <img class="product-image" src="/img/shop/reviews_wrinkles.webp" alt="tallow honey balm photo 2">
        <img class="product-image" src="/img/shop/open.webp" alt="tallow honey balm photo 3">
        <!-- Add more thumbnail images as needed -->
</div>
<img class="main-image"  src="/img/shop/wrinklesmain.webp" alt="tallow honey balm for acne"> 
    </div>

