<!DOCTYPE html>
<html lang="ja">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" defer></script>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

   
  </head>
<body>
    {{- partial "alert.html" . -}}
    <div class="announcement full-width black text-center">
      <ul>
        <li>All proceeds before July are donated.</li>
      </ul>
    </div>
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html for homepage here -->
    <div class="container">
      <div class="full-width topbanner row peach ">
        <div class="col-lg-6 col-12 top-banner mob-reverse"></div>
        <div class="col-lg-6 col-12 bannertext mob-reverse d-flex align-items-center">
          <div class="p-4">
            <h1>Transform your pet's meal from bland to gourmet.</h1>
            <p class="d-none d-md-block">Try PrimeBroth, NZ’s favourite pets bone broth meal topper for turning picky pets into piggy eaters.</p>
            <a class="btn btn-primary fade-in-element" href="/shop">Shop Broth</a>
          </div>
        </div>        
      </div>
      <div class="scrollbanner full-width">
        <ul class="text-center" id="bannerList">
          <li><span class="strong">Rich beefy flavour</span></li>
          <li><span class="strong">Simmered 32 hours</span></li>
          <li><span class="strong">Keto, Gluten & Dairy Free</span></li>
          <li><span class="strong">100% Organic Bones</span></li>
        </ul>
      </div>

      <div class="row text-center justify-content-around">
        <h3>Helping raise funds for kiwi’s favorite charities</h3>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkspca.webp" alt="">
          <p>Spca</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkdogwatch.webp" alt="">
          <p>Dog watch sanctuary</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkchained.webp" alt="">
          <p>Chained dog</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkpawsitive.webp" alt="">
          <p>Pawsitive rescue</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkrefuge.webp" alt="">
          <p>Pets refuge</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkchihuahua.webp" alt="">
          <p>Chihuahua Rescue</p>
          <p></p>
        </div>
        <div class="col-lg-1 col-4 col-xs-4 element">
          <img src="/img/blkbully.webp" alt="">
          <p>Christchurch bull rescue</p>
          <p></p>
        </div>
      
      <div class="row mt-4 full-height short-banner align-items-center justify-content-around">
        <div class="darker text-center">
          <h3>Supporting a healthier lifestyle one jar at a time</h3>
        </div>
        

 <!-- Pet single product card -->
 <div class="product-card grow fade-in-element left col-lg-3 col-sm-12"><a href="/shop/products/pets">
  <p class="stamp">Popular</p>

  <img src="/img/pet1.webp" alt="">
  <div class="product-details">
    <p>$7.95</p>
    <h6>Pets Bone Broth</h6>
    <img class="stars" src="/img/stars/5.webp" alt="review rating for beef bone broth product">
    <p>(21)</p>
  </div>
</a>
</div>

<!-- Pet multi product card -->
<div class="product-card fade-in-element grow col-lg-3 col-sm-12"><a href="/shop/products/pets-powder">
  <p class="stamp">Trending</p>
  <img src="/img/boney2.webp" alt="">
  <div class="product-details">
    <p>$9.95</p>
    <h6>Pets Bone Broth Powder</h6>
    <img class="stars" src="/img/stars/5.webp" alt="review rating for chicken bone broth product">
    <p>(18)</p>
  </div>
</a>
</div>

<!-- Beef product card -->
<div class="product-card grow fade-in-element left col-lg-3 col-sm-12">
  <!-- <a href="/shop/products/beef">-->
  <p class="stamp">Coming soon</p>

  <img src="/img/beef.webp" class="notstocked" alt="">
  <div class="product-details">
    <p>$7.95</p>
    <h6>Beef Bone Broth</h6>
    <!-- <img class="stars" src="/img/stars/5.webp" alt="review rating for beef bone broth product">
    <p>(31)</p>-->
  </div>
<!-- </a>-->
</div>

      </div>
  
      </div>
      <div class="row">
        <div class="col-lg-6 col">
            <h2>Every jar packed with nutrients</h2>
            <p>Simmered for 32 hours, our bone broth stands out for its exceptional density. Unlike other popular bone broth brands 
              in New Zealand, we don’t water down our broth. Its thick gelatinous consistency reflects the higher quality due to not being diluted. </p>
            <p>Simply scrape off the fat, warm in the microwave and add to your recipe or drink on its own. </p>              
            <a class="btn btn-primary fade-in-element" href="/shop">Shop Broth</a>
        </div>
        <img class="col-lg-6 col" src="/img/bonebroth12.webp" >
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 "  style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/955088396?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write;" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="The PrimeBroth Difference" loading="lazy"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        <div class="col-lg-6 col-12 ">
            <h2>Don't just take our word for it, see what our BonelyFans have to say.</h2>
            <p>"I didnt realise i was dairy intolerant, making the switch to PrimeBroth from whey in the mornings helped my skin, being low carb is a nice bonus."</p>    
            <h6>Kristy, 28 - Christchurch</h6>

            <p class="mt-4">“Our dog Kujo has always been a picky eater, we’ve added pets bone broth to his biscuits for years as a way to encourage him to eat them. He definitely likes PrimeBroth, it seems more concentrated than our previous brand and I’ve found their service always super fast."</p>    
            <h6>Rebecca, 35 - Rangiora</h6>

            <p class="mt-4">"As a mother of two busy teen girls I’ve often struggled to take time from my day to focus on my own needs. I frequently forget meals, but having PrimeBroth in the fridge has made for a great nutrition hit I can grab on the way out the door."</p>    
            <h6>Lisa, 48 - Rolleston</h6>
        </div>
      </div>
        <div class="row">
          <div class="col-lg-6 col ">
              <h2>About PrimeBroth</h2>
              <h6>Animal Based Nutrition</h6>
              <p>Learn about PrimeBroth and how our Christchurch bone broth company in came to be.</p>                
                <a href="pages/about" class="btn btn-secondary fade-in-element">Learn more</a>
          </div>
          <img class="col-lg-6 col " src="/img/us.webp" >

        </div>
        
        <div class="row full-height shorts peach align-items-center">
            <h2>See how bone broth is taking the internet by storm</h2>
          <!-- shorts -->
         <!-- Beef product card -->
<div class="product-card grow fade-in-element left col-lg-3 col-sm-12">
  <a href="/shop/products/pets">

  <img src="/img/pet1.webp" class="notstocked" alt="">
  <div class="product-details">
    <p>$7.95</p>
    <h6>Pets Bone Broth</h6>
    <img class="stars" src="/img/stars/5.webp" alt="review rating for beef bone broth product">
    <p>(21)</p>
  </div>
</a>
</div>      
          
          <div class="col-md-3 col-xs-5 grow fade-in-element">
            <a data-fancybox="gallery" data-type="iframe" data-src="https://www.youtube.com/embed/gB7qqQ58cv0?autoplay=1" href="javascript:;">
              <img src="/img/shorts/1.webp" alt="Short 1 Thumbnail">
            </a>
          </div>
          <div class="col-md-3 grow fade-in-element d-none d-md-block">
            <a data-fancybox="gallery" data-type="iframe" data-src="https://www.youtube.com/embed/qZC3-zV9utA?autoplay=1" href="javascript:;">
              <img src="/img/shorts/2.webp" alt="Short 2 Thumbnail">
            </a>
          </div>
          <div class="col-md-3 grow fade-in-element d-none d-md-block">
            <a data-fancybox="gallery" data-type="iframe" data-src="https://www.youtube.com/embed/VDlbPPHdIaI?autoplay=1" href="javascript:;">
              <img src="/img/shorts/3.webp" alt="Short 3 Thumbnail">
            </a>
          </div>
          
        </div>
      
        <div class="row">
            <div>
                <h2 class="text-center">Frequently Asked Questions</h2>
                <div class="faq mt-4 fade-in-element">
                    <div class="accordion-item grow">
                      <h4 class="accordion-heading">What makes your bone broth unique?</h4>
                      <div class="accordion-content">
                        <p>Our bone broth is uniquely dense, setting it apart from many other brands in New Zealand that tend to dilute their products. The rich, gelatinous texture of our broth is a clear indicator of its high quality gained from extra simmering time and careful choosing of the bones. Furthermore, we maintain a balanced acidity by avoiding the common practice of adding apple cider vinegar, which can overshadow the broth’s robust, meaty flavour.</p>
                      </div>
                    </div>
                    <div class="accordion-item grow">
                      <h4 class="accordion-heading">Where can I purchase your bone broth?</h4>
                      <div class="accordion-content">
                        <p>You can buy straight from our website, our stalls at the Lyttleton and Ohoka markets or from several pet and health food stores around Christchurch New Zealand.</p>
                      </div>
                    </div>
                    <div class="accordion-item grow">
                      <h4 class="accordion-heading">Is your bone broth suitable for special dietary needs?</h4>
                      <div class="accordion-content">
                        <p>Yes, our bone broth is dairy-free, gluten-free, and free from artificial additives or preservatives. It’s a versatile option for individuals following various dietary lifestyles, including paleo, keto, and Whole30. Additionally, our commitment to using high-quality, natural ingredients sourced locally in Christchurch for our bone broth company ensures that our bone broth is both nutritious and the best possible quality.</p>
                      </div>
                    </div>
                  
                  </div>                         
                </div>
            </div>

    </div>
    <!-- Add html for homepage above -->

    {{- partial "footer.html" . -}}


    
    
</body>

</html>