<!DOCTYPE html>
<html lang="ja">
<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=667c998f7bead90019480329&product=inline-share-buttons&source=platform" async="async"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

</head>
<body>
    <style>

        .custom-radio input[type="radio"]:checked + .custom-radio-label::before {
          background-color: green;
        }
        
        .custom-radio-label {
            color: green;
        }
            </style>
    {{ if .Params.charity }}
<div class="announcement full-width black text-center">
    <ul>
        <li>Proceeds from this page are donated to {{ .Params.charity }}.</li>
    </ul>
</div>
{{ else }}
{{- partial "alert.html" . -}}
{{ end }}



    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <!-- Add html below -->

    <div class="container">
        <div class="row topbanner rel">
            <div class="col-xs-12 col-lg-6 product-photos">
                {{- partial "powderimages.html" . -}}
            </div>
            <div class="col-xs-12 col-lg-6">
                <h1>Bone broth powder for pets{{ if .Params.charity }} - {{ .Params.charity }}{{ end }}</h1>
                <h5>Pets go from picky to piggy with just a dash in their kibble.</h5>
                <img class="stars" src="/img/stars/5.webp" alt="review rating for bone broth product">
                <p>(18)</p>
                <div class="custom-radio" >
                    <input type="radio" id="inStock" name="stockStatus" checked>
                    <label class="custom-radio-label mb-4" for="inStock">In Stock</label>
                </div>

                <!-- Price Partials for Small, Medium, and Large -->
                <div id="pricePartialSmall" class="product-info">
                    <p>{{- partial "price-pet-powder-50g.html" . -}}</p>
                </div>
                
                {{ if or .Params.beefpricemediumlink .Params.chickenpricemediumlink .Params.lambpricemediumlink }}
                <div id="pricePartialMedium" class="product-info hidden">
                    <p>{{- partial "price-pet-powder-50g.html" . -}}</p>
                </div>
                {{ end }}
                
                {{ if or .Params.beefpricelargelink .Params.chickenpricelargelink .Params.lambpricelargelink }}
                <div id="pricePartialLarge" class="product-info hidden">
                    <p>{{- partial "price-pet-powder-100g.html" . -}}</p>
                </div>
                {{ end }}




            

                
                
            <div class="dropdown-container">
                <div class="dropdown-group">
                    <select id="productFlavour" name="productFlavour">
                        {{ if or .Params.beefpricesmalllink .Params.beefpricemediumlink .Params.beefpricelargelink }}
                        <option value="beef" data-image="/img/post-a-1.webp"
                                data-flavour-price-small="{{ .Params.beefpricesmalllink }}"
                                data-flavour-price-medium="{{ .Params.beefpricemediumlink }}"
                                data-flavour-price-large="{{ .Params.beefpricelargelink }}" selected>Beef</option>
                        {{ end }}
                        {{ if or .Params.chickenpricesmalllink .Params.chickenpricemediumlink .Params.chickenpricelargelink }}
                        <option value="chicken" data-image="/img/post-a-1.webp"
                                data-flavour-price-small="{{ .Params.chickenpricesmalllink }}"
                                data-flavour-price-medium="{{ .Params.chickenpricemediumlink }}"
                                data-flavour-price-large="{{ .Params.chickenpricelargelink }}">Chicken</option>
                        {{ end }}
                        {{ if or .Params.lambpricesmalllink .Params.lambpricemediumlink .Params.lambpricelargelink }}
                        <option value="lamb" data-image="/img/post-a-1.webp"
                                data-flavour-price-small="{{ .Params.lambpricesmalllink }}"
                                data-flavour-price-medium="{{ .Params.lambpricemediumlink }}"
                                data-flavour-price-large="{{ .Params.lambpricelargelink }}">Lamb</option>
                        {{ end }}
                    </select>
                </div>
                
                <div class="dropdown-group">
                    <select id="productSize" name="productSize">
                        {{ if or .Params.beefpricesmalllink .Params.chickenpricesmalllink .Params.lambpricesmalllink }}
                        <option value="small" data-image="/img/post-a-1.webp">20g</option>
                        {{ end }}
                        {{ if isset .Params "wipe" }}
                            {{ if or .Params.beefpricemediumlink .Params.chickenpricemediumlink .Params.lambpricemediumlink }}
                            <option value="medium" data-image="/img/50front.webp">50g</option>
                            {{ end }}
                            {{ if or .Params.beefpricelargelink .Params.chickenpricelargelink .Params.lambpricelargelink }}
                                <option value="large" data-image="/img/50front.webp">100g</option>
                            {{ end }}
                        {{ end }}
                    </select>
                </div>
                <div class="quantity-container">
                    <label for="quantityAll">Qty </label>
                    <input type="number" id="quantityAll" name="quantity" min="1" value="1">
                </div>
                
            </div>
                
           
                
                <div id="productsmall" class="product-info">
                    <button class="btn btn-primary buy-now" data-price-id="{{ .Params.beefpricemediumlink }}" data-quantity-id="quantityAll">Add To Cart</button>
                </div>
                
                {{ if or .Params.beefpricemediumlink .Params.chickenpricemediumlink .Params.lambpricemediumlink }}
                <div id="productmedium" class="product-info hidden">
                    <button class="btn btn-primary buy-now" data-price-id="{{ .Params.beefpricemediumlink }}" data-quantity-id="quantityAll">Add To Cart</button>
                </div>
                {{ end }}
                
                {{ if or .Params.beefpricelargelink .Params.chickenpricelargelink .Params.lambpricelargelink }}
                <div id="productlarge" class="product-info hidden">
                    <button class="btn btn-primary buy-now" data-price-id="{{ .Params.beefpricelargelink }}" data-quantity-id="quantityAll">Add To Cart</button>
                </div>
                {{ end }}

                <img class="badges" src="/img/stripe-badge-transparent.webp" alt="stripe secure badges">
                <div class="row mt-2 ninety mb-0 p-0">
                    <img class="col-6 col-md-3" src="/img/guts.webp" alt="">
                    <img class="col-6 col-md-3" src="/img/joints.webp" alt="">
                    <img class="col-6 col-md-3" src="/img/picktopig.webp" alt="">
                    <img class="col-6 col-md-3" src="/img/skincoat.webp" alt="">
                </div>
                <div class="row mt-0 trust" style="margin-top:-50px;margin-bottom:-50px; font-size:90%;">
                    <div class="col-4">
                        <img src="/img/delivery.webp">
                        <p>Free delivery over <span id="shipping_rate">$80</span></p>
                    </div>
                    <div class="col-4">
                        <img src="/img/exclusive.webp">
                        <p>Money back guarantee</p>
                    </div>
                    <div class="col-4">
                        <img src="/img/kiwi.webp">
                        <p>Used by 100s of Kiwis</p>
                    </div>
                </div>
                
                
            </div>

            {{ if .Params.wipe }}
            <div class="text-center gray mt-0 p-0">
                <div class="row eighty middle justify-content-around mt-0 p-4">
                <h3>Featured by</h3>
                <div class="col-lg-2 col-4 col-xs-4 element">
                    <img src="/img/blkdogwatch.webp" alt="">
                </div>
                <div class="col-lg-2 col-4 col-xs-4 element">
                    <img style="filter: grayscale(100%);" src="/img/rott.webp" alt="">
                </div>
                <div class="col-lg-2 col-4 col-xs-4 element">
                    <img src="/img/cpl.webp" alt="" style="filter: grayscale(100%);">
                </div>
                <div class="col-lg-2 col-4 col-xs-4 element">
                    <img src="/img/blkchihuahua.webp" alt="">
                </div>
                <div class="col-lg-2 col-4 col-xs-4 element">
                    <img src="/img/blkbully.webp" alt="">
                </div> </div> </div>              
            {{ end }}

            <div class="row mt-0">
                <div class="col-12 col-md-6">
                    <div class="image-container">
                        <img src="/img/tedvid.webp" alt="Click to watch video" id="thumbnail" data-video-id="videoContainer1">
                    </div>
                    <div class="video-container col-6" id="videoContainer1">
                        <iframe src="https://player.vimeo.com/video/955088396?badge=0&amp;autopause=0&amp;autoplay=1&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write;" title="The PrimalPantry Difference" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="faq-tab-container col-12 col-md-6">
                    <!-- Nav tabs -->
                    <div class="faq-nav-tabs">
                        <div class="faq-nav-tab active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</div>
                        <div class="faq-nav-tab" id="ingredients-tab" data-toggle="tab" href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</div>
                        <div class="faq-nav-tab" id="directions-tab" data-toggle="tab" href="#directions" role="tab" aria-controls="directions" aria-selected="false">Directions</div>
                        <div class="faq-nav-tab" id="storage-tab" data-toggle="tab" href="#storage" role="tab" aria-controls="storage" aria-selected="false">Storage</div>
                        <div class="faq-nav-tab" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</div>
                    </div>
            
                    <!-- Tab panes -->
                    <div class="tab-content faq-tab-content">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <h4>Description</h4>
                            <p>Powdered <span class="product-flavour">Beef</span> Bone Broth.</p>
                            <p>Struggle to get your pet to eat their kibble? Sick of paying ridiculous prices for expensive meat just to get them to eat? We were too, that's why we made PrimalPantry for pets.</p>
                            <p>Simply serve on their regular kibble and transform from bland to gourmet.</p>
                            <p>We're confident they'll lap it up. If they don't, we'll give your money back.</p>
                            <p>Not for human consumption - <a href="/shop/products/powder/">check our people broth</a> options.</p>

                            
                            {{ if .Params.charitylink }}
                            <p><a style="text-decoration: none;" href="{{ .Params.charitylink }}" rel="nofollow">Want to learn more about this charity? see here</a></p>
                            {{ end }}                       
                            
                            
                            
                            
                        </div>
                        <div class="tab-pane fade" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                            <h4>Ingredients</h4>
                            <p><span class="product-flavour">Beef</span> Bones, Carrots, Celery, Apple cider vinegar</p>
                        </div>
                        <div class="tab-pane fade" id="directions" role="tabpanel" aria-labelledby="directions-tab">
                            <h4>Directions</h4>
                            <p><strong>Best served as a meal topper</strong></p>
                            <p>Serving as a liquid</p>
                            <ol>
                                <li>Mix a serving of powder with 100 ml of hot water and add to their biscuits.</li>
                            </ol>
                            <p>Serving as a powder</p>
                            <ol>
                                <li>Sprinkle a serving of powder onto your pet's biscuits or dinner meal.</li>
                            </ol>
                            <table>
                                <tr>
                                    <th>Dog Size</th>
                                    <th>Dosage</th>
                                </tr>
                                <tr>
                                    <td>Small dogs (&lt;10 kg)</td>
                                    <td>½ tsp daily</td>
                                </tr>
                                <tr>
                                    <td>Medium dogs (10-35 kg)</td>
                                    <td>1 tsp daily</td>
                                </tr>
                                <tr>
                                    <td>Big dogs (35 kg +)</td>
                                    <td>1½ - 2 tsp daily</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="storage" role="tabpanel" aria-labelledby="storage-tab">
                            <h4>Storage</h4>
                            <p>Keep in a cool dry place - 2 years unopened, 4 months after opening.</p>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <h4>Shipping</h4>
                            <p><strong>Processing time:</strong> Your order will be confirmed within 1-3 business days after payment confirmation. After processing, your order will be shipped the next day and you can expect usual courier times to your area (generally 3-5 business days) </p>
                            <p><strong>Shipping rates:</strong> We usually charge between $4.95 and $6.95 for shipping. You can view the shipping costs at the checkout before completing your purchase.</p>
                            <p><strong>International shipping:</strong> Currently, we only offer shipping within New Zealand. We apologize for any inconvenience this may cause.</p>
                            <p>If you have any questions or concerns regarding shipping, please don't hesitate to <a href="/contact/">contact us</a>.</p>
                        </div>
                        
                    </div>
                </div>
            
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var tabs = document.querySelectorAll('.faq-nav-tab');
                        tabs.forEach(function(tab) {
                            tab.addEventListener('click', function() {
                                document.querySelector('.faq-nav-tab.active').classList.remove('active');
                                tab.classList.add('active');
                                var tabContent = document.querySelector('.faq-tab-content .tab-pane.show.active');
                                tabContent.classList.remove('show', 'active');
                                var target = tab.getAttribute('href');
                                document.querySelector(target).classList.add('show', 'active');
                            });
                        });
                    });
                </script>
                </div>
        </div>
    </div>
</div>
<div class="row">
   
    <div class="col-12 col-md-6">
        <div class="accordion-minimal">
            <div class="accordion-minimal-header">
                <img src="/img/pixs.webp" alt="" class="accordion-minimal-icon">
                <h3 class="accordion-minimal-title">Flavourful Bone Broth for Picky Eaters</h3>
            </div>
            <div class="accordion-minimal-content show">
                <p>Our bone broth was designed for picky dogs and cats. Its rich, meaty flavour is hard to resist. You can sprinkle a serving of powder on your pet’s food to make it more appetizing. Bone broth powder is an economical way to feed your pet dry kibble without spending too much on the meat and other toppers. If your pet doesn’t like our powder, we will return your money or send another one (different flavour or recipe) for free!</p>
            </div>
        </div>
        
        <div class="accordion-minimal">
            <div class="accordion-minimal-header">
                <img src="/img/12.webp" alt="" class="accordion-minimal-icon">
                <h3 class="accordion-minimal-title">Jam-packed with Undiluted Nutrition</h3>
            </div>
            <div class="accordion-minimal-content">
                <p>Bone broth isn’t only a great appetite enhancer; it’s also packed with nutrients that benefit the overall health of your pet. Bone broth is a natural support for joint health, digestion, coat, and liver health of dogs & cats. It contains high amounts of protein & collagen but low on fat for these fat-conscious pet parents.</p>
            </div>
        </div>
        
        <div class="accordion-minimal">
            <div class="accordion-minimal-header">
                <img src="/img/pix.webp" alt="" class="accordion-minimal-icon">
                <h3 class="accordion-minimal-title">True Bone Broth for Pets</h3>
            </div>
            <div class="accordion-minimal-content">
                <p>To make our bone broth, we use only fresh, highest quality ingredients. We are against additives, fillers, sugars, colors, and other nastiness. Our bone broth is hand-made with the highest care at our commercial kitchen in Christchurch, New Zealand.</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <img src="/img/billie.webp" alt="billie photo" id="thumbnail">
    </div>
</div>
    
    <div class="row">
        <div class="eighty py-auto middle">
            <h2 class="text-center">Frequently Asked Questions</h2>
            <div class="faq mt-4 ">
                
                <div class="accordion-item ">
                    <h4 class="accordion-heading">How is it made?</h4>
                    <div class="accordion-content">
                      <p>Our bone broth is made in Christchurch in our commercial kitchen. We simmer beef bones and vegetables for 32 hours to extract all the nutrients, such as precious collagen. 
                  
                    </div>
                  </div>
                
                  <div class="accordion-item  ">
                    <h4 class="accordion-heading">How long will bone broth powder last?</h4>
                    <div class="accordion-content">
                      <p>Refer to the use-by date on the packet.</p>
                      <p>~2 years unopened, 4 months after opening.</p>
                    </div>
                  </div>

                  <div class="accordion-item  show">
                    <h4 class="accordion-heading">What makes your bone broth unique?</h4>
                    <div class="accordion-content">
                      <p>Our bone broth is uniquely dense, setting it apart from many other brands in New Zealand that tend to dilute their products. The rich, gelatinous texture of our broth is a clear indicator of its high quality gained from extra simmering time and careful choosing of the bones. Furthermore, we maintain a balanced acidity by avoiding the common practice of adding large amounts of apple cider vinegar, which can overshadow the broth’s robust, meaty flavour.</p>
                    </div>
                  </div>

                  <div class="accordion-item show">
                    <h4 class="accordion-heading">What's better bone broth powder or liquid?</h4>
                    <div class="accordion-content">
                      <p>Well, it depends what you prefer, convenience of powder, e.g. shelf-stable, easy to use product? At the same time, jars are great for people with large dogs, as the jar is 400 ml and will last you 3-4 days. Lastly, liquid bone broth is richer due to its freshness.</p>
                    </div>
                  </div>

                  <div class="accordion-item show">
                    <h4 class="accordion-heading">Can people drink your bone broth for pets?</h4>
                    <div class="accordion-content">
                      <p>While our pets' bone broth was made at the highest standard, we freeze dry it at the pet food site, which is managed by our partners. Therefore, we can't guarantee that their quality/safety is up to human standards. But why would you? We've got delicious <a class="prettylink" href="/shop/liquid">bone broth for people available</a> with herbs and spices to make people's taste buds sing.</p>
                    </div>
                  </div>

              </div>                         
            </div>
        </div>
    <div class="peach mb-0">
        <div class="row mb-0 mx-8 justify-content-center">
        <div class="col-12 col-md-4 ">
            <h2>Reviews</h2>
            <img class="stars" src="/img/stars/5.webp" alt="review rating for bone broth product">
            <p>(18)</p>        
            <p>5 out of 5 Stars across 18 reviews</p>
            <a class="btn btn-primary" href="/feedback-form">Write a review</a>
        </div>
        <div class="col-12 col-md-6">
            <div class="col-12 mt-2 mb-2 card">
                <div class="card-top">
                <p class="customer-name">Posted by <span style="font-weight: bold;">Kate</span> on <span style="font-weight: bold;">26/06/2024</span></p>
                </div>
                <div class="card-bottom">

                <p class="feedback-text">"Billie loves it!! The first day I sprinkled it on her biscuits but she emptied the bowl out scratching to get more of the powder 😂😂 lately I’ve just been wetting a little bit of her chicken and sprinkling it on that."</p>
            </div> </div>
            <div class="col-12 mb-2 card">
                <div class="card-top">
                <p class="customer-name">Posted by <span style="font-weight: bold;">Anna</span> on <span style="font-weight: bold;">09/07/2024</span></p>
            </div>
            <div class="card-bottom"><p class="feedback-text">"They love it...to the point of knocking the wee jar over to try get some more!"</p>
            </div> </div>
            <div class="col-12 mb-2 card">
                <div class="card-top">
                    <p class="customer-name">Posted by <span style="font-weight: bold;">Liza</span> on <span style="font-weight: bold;">24/06/2024</span></p>
                </div>
                <div class="card-bottom">
            <p class="feedback-text">"a+ very happy with the powder & my dogs love it."</p>
        </div>
        </div> 
        </div>
    </div>        
</div></div>

{{- partial "stripe.html" . -}}    
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const accordions = document.querySelectorAll(".accordion-minimal");

    accordions.forEach(accordion => {
        const header = accordion.querySelector(".accordion-minimal-header");

        header.addEventListener("click", function() {
            // Close all accordions
            accordions.forEach(acc => {
                if (acc !== accordion) {
                    acc.querySelector(".accordion-minimal-content").classList.remove("show");
                }
            });
            // Toggle the clicked accordion
            const content = this.nextElementSibling;
            content.classList.toggle("show");
        });
    });
});

</script>

{{- partial "footer.html" . -}}
</body>
</html>
